.Fanchart {
}

.Fanchart .name {
   color: black;
   font-size: 10px;
   text-overflow: ellipsis;
   user-select: none;
}

.Fanchart .details {
   fill: #555;
   color: black;
   font-size: 8px;
   text-overflow: ellipsis;
   user-select: none;
}

.Fanchart .marriage {
   color: black;
   font-size: 8px;
   text-overflow: ellipsis;
   user-select: none;
}

.Fanchart .child {
   font-size: 10px;
   stroke: black;
   fill: none;
}
.Fanchart .child text {
   fill: black;
   stroke: none;
}
