@import "../variables";

$assert-border-fg: darken($panel-bg, 10%);

.assert {
   //background-color: darken($panel-bg, 2%);
   //background: linear-gradient(to bottom, darken($panel-bg, 5%) 0%, $panel-bg 100%);
   padding: 5px;
   margin-bottom: 15px;

   border-width: 0 0 0 4px;
   border-left-style: solid;
   border-left-color: $assert-border-fg;
   //border-image: linear-gradient(to bottom, red 0%, blue 100%) 1 100%;

   .relationship {
      font-style: italic;
      font-size: 0.8em;
      color: #aaa;
   }
}

.assertSubject {
   &.edited { 
      margin-bottom: 15px;

      & > div {
         margin-left: 40px;
         padding-left: 10px;
         border-left: 2px solid $assert-border-fg;
      }
   }
}
