@import "../variables";

tr.rowDetails td.extra {
   padding-left: 40px;
   border-top: 0;  // merge with top-row

   table.table-condensed > tbody > tr > td {
      background-color: $panel-bg; // darken($panel-bg, 10%);
   }
}
tr.open td {
   border-bottom: 0;  // merge with details row
}

th.sortable {
   &:after {
      position: absolute;
      margin-left: 20px;
      font-family: FontAwesome;
      color: #c9c9c9;
   }
   &:hover:after {
      content: '\f0dc';   // $fa-var-sort
   }
   &.headerSortDown:after {
      content: '\f0dd';  // $fa-var-sort-desc
   }
   &.headerSortUp:after {
      content: '\f0de';  // $fa-var-sort-asc
   }
}
