@import "../variables";

/**
 * A panel that lets users upload file or drag-and-drop them
 */

.upload-form {
   $bg: rgba(0,0,0,0.1); //#c8dadf
   $bg_on_drag: #EEE; // darken($bg, 10%)
   $fg: #555; // #92b0b3

   /* Large form */
   .maxi {
      text-align: center;
      padding: 60px 20px;
      .icon {
         color: $fg;
         font-size: 5em;
      }
      label {
         width: 100%;
         margin-right: 10px;
      }
   }
   /* Inline form */
   .mini {
      margin-right: 10px;
      display: inline;
      padding: 5px 5px;
      .icon {
         color: $fg;
         font-size: 1em;
      }
      label {
         margin-left: 5px;
      }
      span.btn {
         margin-left: 5px;
      }
   }

   // Hide the input, but still display it so that it works
   input[type=file] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
   }

   form {
      background: $bg;
   }
   &.dragover {
      background: $bg_on_drag;
   }

   label {
      cursor: pointer;
      .normal {
         font-weight: normal;
      }
      &:hover {
        color: $brand-primary;
      }
   }

}
