.DS_Store
geneaprove.sqlite
node_modules/
static/
resources/geneaprove.min.js_gz
resources/geneaprove.min.css_gz
resources/geneaprove.min.css
resources/geneaprove.min.js
resources/geneaprove/.templates.js
resources/ts/typings/
resources/tmp
manu/
geneaprove/utils/citations/tmp.txt
*.pyc
