/**
 * First <h2> in a block should not have a top margin (aligning name of person
 * on the person page
 */

h2:first-child {
   margin-top: 0;
}

/**
 * Set this on a panel-heading when it is clickable to reveal details.
 */
.editable-title {
   cursor: pointer;
   &:before {
      padding-right: 10px;
   }
}

/**
 * Links to some genealogy entity (sources, places,...)
 */
.gpLink {
   span {
      margin-left: 5px;
   }
   &:before {
      vertical-align: super;
      font-size: 0.8em;
   }
}

/**
 * Assertions
 */
.disproved {
   text-decoration: line-through;
}

/**
 * Researched by
 */
.researchedBy {
   float: right;
   font-size: 0.8em;
   font-style: italic;
   margin-left: 10px;
}

/**
 * Figures
 */
figure {
   img {
      border: 1px solid #999;
      max-width: 100%;
   }

   figcaption {
      text-align: right;
      font-style: italic;
      font-size: 0.8em;
   }
}
