@import "gp_vars";
$brand-primary: rgb(66,139,202);  // darkblue
$logo-color:    $brand-primary;

.logo {
   padding: 0;
   margin: 0;
   width: 180px;
   text-align: center;
   text-decoration: none;
   display: block;
   font-size: 25px;
   color: $logo-color;
   font-style: italic;
   padding-top: 10px;
   //text-shadow: darken($navbar-default-bg, 20%) 3px 3px 7px;
   .tagline{
       font-size: 9px;
       color: $navbar-default-brand-hover-color;
       font-style: italic;
       margin: -6px 0 8px 23px;
   }
}
