@import "gp_vars";

/**
 * A panel that lets users upload file or drag-and-drop them
 */

.download-form {
   $bg: rgba(0,0,0,0.1); //#c8dadf
   $bg_on_drag: #EEE; // darken($bg, 10%)
   $fg: #555; // #92b0b3

   background: $bg;

   &.maxi {
      padding: 60px 20px;
      &.hasDnd {
         outline: 2px dashed #92b0b3;
         outline-offset: -10px;
      }
      .icon {
         color: $fg;
         font-size: 5em;
      }
      label {
         width: 100%;
      }
   }
   &.mini {
      display: inline;
      padding: 5px 5px;
      .box__input {
         display: inline;
      }
      .icon {
         color: $fg;
         font-size: 1em;
      }
      label {
         margin-left: 5px;
      }
   }

   label {
      margin-right: 10px;
   }
   .box__input {
      text-align: center;
   }

   // Hide the input, but still display it so that it works
   input[type=file] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
   }

   label {
      cursor: pointer;
      .normal {
         font-weight: normal;
      }
      &:hover {
        color: $brand-primary;
      }
   }

   .box__uploading,
   .box__success,
   .box__error {
      display: none;
   }

   &.dragover {
      background: $bg_on_drag;
   }
}
