@import "variables";
.nav {
   .group {
      font-size: 0.8em;
      transform: rotate(-90deg);
      border-top: 1px solid $navbar-default-brand-color;
      color: $navbar-default-brand-color;
      top: $line-height-base / 0.8 * 1em;
      width: $navbar-height;
      text-align: center;
   }
}

.navbar-settings {
   margin-top: -$navbar-margin-bottom;
   background-color: lighten($navbar-default-bg, 5%);
}

.route-button.is-active {
   background-color: lighten($navbar-default-bg, 5%);
   &:hover, &:focus, &:active {
      background-color: lighten($navbar-default-bg, 5%) !important;
   }
}

/**
 * Navbar
 */
.navbar-collapse {
   @media (max-width: 768px) {
      .navbar-nav > li {
         font-size: 0.6em;
         display: inline;
      }

      .navbar-nav > li > a {
         display: inline;
      }
   }
}

@media (max-width: 900px) {
   .hide-if-small {
      display: none !important;
   }
}

.config-nav {
   display: block;
   margin: 0 10px;
   font-size: 0.9em;
   > input {
      color: black;
      text-align: center;
   }
}
