@import "variables";
.nav {
   .group {
      font-size: 0.8em;
      transform: rotate(-90deg);
      border-top: 1px solid $navbar-default-brand-color;
      color: $navbar-default-brand-color;
      top: $line-height-base / 0.8 * 1em;
      width: $navbar-height;
      text-align: center;
   }
}

.navbar-settings {
   padding-top: 5px;
   margin-top: -$navbar-margin-bottom;
   background-color: lighten($navbar-default-bg, 5%);
   border-width: 0 0 1px 0;
   border-color: $navbar-default-border;
   min-height: 2em;
}

.route-button.is-active {
   background-color: lighten($navbar-default-bg, 5%);
   &:hover, &:focus, &:active {
      background-color: lighten($navbar-default-bg, 5%) !important;
   }

   &.hasSettings {
      @media (min-width: $grid-float-breakpoint) {
         // Hide the bottom border of the navbar for this button, to
         // link it to the settings navbar
         position: relative;
         top: 2px;  // move towards bottom to hide the border
         padding-top: $navbar-padding-vertical - 2px; // move text up to keep alignment
         line-height: $line-height-computed + 2px;

         border-width: 1px 1px 0 1px;
         border-style: solid;
         border-color: $navbar-default-border;
      }
   }
}

/**
 * Navbar
 */
@media (max-width: 768px) {
   .navbar-collapse {
      .navbar-nav > li {
         font-size: 0.6em;
         display: inline;
      }
   
      .navbar-nav > li > a {
         display: inline;
      }
   }
   .navbar {
      min-height: 0;
   }
}

@media (max-width: 900px) {
   .hide-if-small {
      display: none !important;
   }
}

.config-nav {
   display: block;
   margin: 0 10px;
   font-size: 0.9em;
   > input {
      color: black;
      text-align: center;
   }
}
