.panel {
   h4 {
      margin-top: 5px;
      margin-left: 10px;
      font-weight: bold;
   }
}

.sidebar .panel {
   box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

.panel-footer {
   padding-top: 0;
   padding-bottom: 0;

   nav {
      text-align: center;
      .pagination {
         margin: 5px 0;
      }
   }
}

.panel-heading {
   &.gp-panel-heading-sm {
      //  Reduce the padding since we also have a toolbar that is higher than
      //  standard text
      padding-top: 4px;
      padding-bottom: 0px;
   }

   form {
      margin-left: 10px;
      float: right !important;
   }
   .btn-group {
      margin-left: 10px;
      float: right !important;
   }
   .fa {
      // Override FontAwesome default to match other buttons
      line-height: 18px;
   }
}
