@import "variables";
.rating {
   padding-left: 0;
   list-style-type: none;
   color: #c9c9c9;
   line-height: 1em;
   margin-bottom: 0;
   white-space: nowrap;
   li {
      display: inline-block;
      width: 1em;
      padding: 1px;
      text-align: center;
      cursor: pointer;
      i {
         vertical-align: middle;
         font-size: 0.5em;
         &.filled {
            font-size: 1em;
            color: #ec8d05;
         }
      }
   }
}
