
/**
 * Set this on a panel-heading when it is clickable to reveal details.
 */
.editable-title {
   cursor: pointer;
   &:before {
      padding-right: 10px;
   }
}

/**
 * Links to some genealogy entity (sources, places,...)
 */
.gpLink {
   span {
      margin-left: 5px;
   }
   &:before {
      vertical-align: super;
      font-size: 0.8em;
   }
}

/**
 * Assertions
 */
.disproved {
   text-decoration: line-through;
}
