.PersonaList {
}

.PersonaList .lifespan {
   color: #999;
}
.PersonaList .name {
   color: inherit;
}
.PersonaList .lifespan span {
   display: inline-block;
   width: 30px;
}
.PersonaList .id {
   color: #999;
   font-style: italic;
   font-size: 0.8em;
}

.PersonaList table {
   background: white;
}

.PersonaList thead th > div {
    background-color: #f6f7f8;
    background-image: linear-gradient(#fff, #efefef);
}
