.PersonList {
   max-width: 900px;
   background: white;
}
.PersonList .lifespan {
   color: #999;
   float: right;
   padding-right: 10px;
}
.PersonList .person:hover {
   background: #EEE;
}
.PersonList .lifespan span {
   display: inline-block;
   width: 30px;
}
.PersonList .loading {
   color: #999;
   text-size: 0.6em;
}
