.PersonaList {
   max-width: 900px;
   background: white;
}
.PersonaList .lifespan {
   color: #999;
   float: right;
   padding-right: 10px;
}
.PersonaList .person:hover {
   background: #EEE;
}
.PersonaList .lifespan span {
   display: inline-block;
   width: 30px;
}
