<div class="form-group floatlabel">
   <!-- The name of the property in ngModel is irrelevant, and only used in
      this form to test whether it is empty. The bridge with the rest of the
      application is done via the onChange callback only -->
   <input *ngIf='lines==1'
          class="form-control"
          [attr.readonly]='readonly?true:null'
          [id]="labelid"
          [title]="title"
          (blur)='onTouched()'
          (change)='onChange($event.target.value)'
          (input)='onChange($event.target.value)'
          [class.nonempty]='val'
          [(ngModel)]='val'>

   <textarea *ngIf='lines!=1'
          [rows]='lines'
          class="form-control"
          [attr.readonly]='readonly?true:null'
          [id]="labelid"
          title="{{title}}"
          (blur)='onTouched()'
          (change)='onChange($event.target.value)'
          (input)='onChange($event.target.value)'
          [class.nonempty]='val'
          [(ngModel)]='val'>
   </textarea>

   <label [attr.for]="labelid">{{label}}</label>
</div>
