<nav class='navbar navbar-settings'>
   <ul class='nav navbar-nav'>
      <li class='config-nav'>
         <div>
            <label>Rows per page</label>
            <select [ngModel]='settings.personaList.rows' (ngModelChange)='onRowsChange(+$event)'>
               <option *ngFor='let r of paginate.rows' [value]='r.rows'>{{r.label}}</option>
            </select>
         </div>
      </li>
      <li class='config-nav'>
         <div>
            <label>Colors</label>
            <select [ngModel]='settings.personaList.colorScheme' (ngModelChange)='onColorSchemeChange(+$event)'>
               <option value='0'>Rules</option>
               <option value='4'>No colors</option>
            </select>
         </div>
      </li>
      <li class='config-nav'>
         <gp-legend *ngIf='settings.personaList.colorScheme==0'></gp-legend>
      </li>
   </ul>
</nav>

<div class='container-fluid'>
   <div class='row'>
      <div class='col-md-10 col-lg-9'>
         <paginate panelTitle='List of persons'>
            <table class='table'>
               <thead>
                  <tr>
                     <th>Surname</th>
                     <th>Given name</th>
                     <th>Birth</th>
                     <th>Death</th>
                     <th>Marriage</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngIf='paginate.pagedData==undefined'>
                     <td colspan='5'>Loading...</td>
                  </tr>
                  <tr *ngFor='let p of paginate.pagedData'>
                     <td><persona-link [id]='p.id' [name]='p.surn'></persona-link></td>
                     <td *ngIf='settings.personaList.colorScheme!=4'><span [ngStyle]='p.styles'>{{p.givn || '-'}}</span></td>
                     <td *ngIf='settings.personaList.colorScheme==4'><span>{{p.givn || '-'}}</span></td>
                     <td>{{p.birth ? p.birth.date : ''}}</td>
                     <td>{{p.death ? p.death.date : ''}}</td>
                     <td>{{p.marriage ? p.marriage.date : ''}}</td>
                  </tr>
               </tbody>
            </table>
         </paginate>
      </div>
   </div>
</div>
