<div class='row' *ngIf='data'>  <!-- No need to render if we haven't got the data -->
   <div class='col-md-12'>
      <div class='panel panel-default'>
         <div class='panel-heading editable-title' (click)='toggleCitation()'>
            <h3 class='panel-title'>Citation</h3>
         </div>
         <div class='panel-body'>
            <span class='fa fa-pencil editable-title' style='float:left; margin:3px' (click)='toggleCitation()'></span>
            <div *ngIf='showCitation'>
               <citation [data]='data'></citation>
            </div>
            <div *ngIf='!showCitation'>
               <span innerHtml='{{data.source.title|linky}}'></span>
            </div>
         </div>
      </div>

      <div class='panel panel-default'>
         <div class='panel-heading'>
            <h3 class='panel-title'>Media</h3>
         </div>
         <div class='panel-body'>
            <gp-source-media [data]='data' (mediaChange)='onMediaChange($event)'></gp-source-media>
         </div>
      </div>

      <div class='panel panel-default'>
         <div class='panel-heading'>
            <h3 class='panel-title'>Assertions</h3>
         </div>
         <div class='panel-body'>
            <div gp-source-asserts='source' asserts='asserts'></div>
         </div>
      </div>
   </div>
</div>
