<div class='row'>
   <div class='col-md-10 col-lg-9'>
      <paginate panelTitle='List of sources'>
         <table class='table'>
            <thead>
               <tr>
                  <th>Short citation</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngIf='paginate.pagedData==undefined'>
                 <td colspan='100'>Loading...</td>
               </tr>
               <tr *ngFor='let p of paginate.pagedData'>
                  <td>
                     <source-link [id]='p.id' [name]='p.title' [sourceTitle]='p.title'></source-link>
                  </td>
               </tr>
            </tbody>
         </table>
      </paginate>
   </div>

   <div class='col-md-2 col-lg-3 sidebar'>
      <div class='panel panel-default'>
         <div class='panel-heading'>Settings</div>
         <div class='panel-body'>
            <ul class='nav nav-pills nav-stacked'>
               <li class='config'>
                  <span>Rows per page</span>
                   <select [ngModel]='settings.sourceList.rows' (ngModelChange)='onRowsChange(+$event)'>
                     <option *ngFor='let r of paginate.rows' [value]='r.rows'>{{r.label}}</option>
                   </select>
               </li>
            </ul>
         </div>
      </div>
   </div>

</div>

