<div class='panel panel-default' *ngIf='data'>
   <div class='panel-heading clearfix gp-panel-heading-sm'>
      <h3 class='panel-title pull-left' style="padding-top: 7.5px">Media</h3>

      <!-- Adding new images -->
      <form role='group' gp-upload-form url='/data/sources/{{data.source.id}}/addRepr'
           (onupload)='onUpload($event)' #form='UploadForm'>
         <gp-upload-target-mini [parent]='form'></gp-upload-target-mini>
      </form>

      <!-- Media operations -->
      <div class='btn-group btn-group-sm' role='group' *ngIf='data.repr.length!=0'>
         <button class='btn btn-default fa fa-trash' (click)='deleteCurrentRepr()' title='Delete the image'></button>
      </div>

      <!-- Image operations -->
      <div class='btn-group btn-group-sm' role='group' *ngIf='data.repr.length!=0'>
         <button class='btn btn-default fa fa-search-minus' (click)='image.zoomOut()'></button>
         <button class='btn btn-default fa fa-square-o' (click)='image.fit()' title='Fit image'></button>
         <button class='btn btn-default fa fa-search-plus' (click)='image.zoomIn()'></button>
      </div>

       <!-- Selecting the media -->
      <div class='btn-group btn-group-sm' role='group' *ngIf='data.repr.length!=0'>
         <button class='btn btn-default fa fa-backward' (click)='prevMedia()' [disabled]='data.repr.length==1'></button>
         <button class='btn btn-default' disabled>{{current + 1}} / {{data.repr.length}}</button>
         <button class='btn btn-default fa fa-forward' (click)='nextMedia()' [disabled]='data.repr.length==1'></button>
      </div>
     
    </div>
   <div class='panel-body'>
      <!-- Image representation or Adding new media -->
      <!-- The whole area is a drop target for adding new media -->
      
      <form role='group' gp-upload-form url='/data/sources/{{data.source.id}}/addRepr'
         (onupload)='onUpload($event)' #form='UploadForm'>
         <gp-upload-target *ngIf='data.repr.length==0' [parent]='form'></gp-upload-target>
         <gp-media [repr]='data.repr[current]' *ngIf='data.repr.length!=0'></gp-media>
      </form>
      
      <modal [buttons]="['Cancel','Delete on Disk','Keep File']">
         <modal-title>Delete a media ?</modal-title>
         <modal-body>
            <p>This will remove the following media as a representation of the source.</p>
            <p>{{data.repr[current].file}}</p>
            <small>The file can be either kept on the disk, for later reuse, or deleted.</small>
         </modal-body>
      </modal>
   </div>
</div>

