.PersonList {
   max-width: 900px;
   background: var(--card-background);
}
.PersonList .lifespan {
   color: var(--text-color);
   float: right;
   padding-right: 10px;
}
.PersonList .person:hover {
   background: var(--card-background-hover);
}
.PersonList .lifespan span {
   display: inline-block;
   width: 30px;
}
.PersonList .loading {
   color: var(--text-color);
   text-size: 0.6em;
}
