.Radial {
   width: 100%;
   height: calc(100vh);
   background: white;
}

.Radial .link {
   fill: none;
   stroke: #000;
}

.Radial text {
   font-size: 0.6em;
   font-family: sans;
   text-overflow: ellipsis;
   display: none;
}
.Radial.visibleNames text {
   display: inline;
}
.Radial .node:hover text {
   display: inline;
   font-size: 1em;
}

