.Radial {
   width: 100%;
   height: calc(100vh);
   background: white;
}

.Radial .link {
   fill: none;
   stroke: #000;
}

.Radial text {
   display: none;
}
.Radial.visibleNames text,
.Radial .node:hover text {
   display: inline;
}

