.Quilts {
}

.Quilts .layer rect {
   fill: none;
   stroke: var(--text-color);
}
.Quilts .layer text {  /* Name of persons */
   cursor: pointer;
}

.Quilts rect.separator {
   fill: var(--input-background); /* gray area between marriages and children */
}

.Quilts .line { /* horizontal or vertical lines */
   stroke: var(--text-color);
}
