.Persona {
   max-width: 1100px;
}

.Persona .pagetitle {
   background: #cdcdcd;
   font-size: 1.4em;
   line-height: 1.6em;
   white-space: nowrap;
   color: #4d4d4d;
}

.Persona .pagetitle .lifespan {
   float: right;
}
.Persona .pagetitle .gender {
   font-size: 0.8em;
   margin-right: 10px;
}

.Persona .pageContent {
   background: #ececec;
}


