<div class='clearfix assert' *ngFor='let a of asserts.allAsserts' [class.disproved]='a.disproved'>

   <span class='researchedBy'>
      researched by {{a.researcher.name}} ({{a.last_change|date}})
   </span>
   <span gp-surety='a.surety' style='float:right'></span>

   <assert-subject [assertion]='a' subject-num='1' [asserts]='asserts'></assert-subject>
   <assert-subject [assertion]='a' subject-num='2' [asserts]='asserts'></assert-subject>

   <span *ngIf='a.$edited' class='form-group checkbox'>
      <label><input type=checkbox ng-model='a.disproved'>Disproved</label>
   </span>

   <div>
      <div class='relationship'>rationale</div>
      <div style='white-space:pre-line; margin-left:20px;'>{{a.rationale}}</div>
   </div>
<!--
   <floatlabelinput [(ngModel)]='a.rationale' name='rationale'
      [lines]='a.rationale ? 5 : 2'
      label='Rationale'
      [readonly]='!a.$edited'></floatlabelinput>
      -->

</div>
