<div class='assertSubject' [class.edited]='assert.$edited'>
   <select name='type' *ngIf='assert.$edited' [ngModel]='sub' (ngModeChange)='onKindChanged($event)'>
      <optgroup [label]='g.name' *ngFor='let g of validTypes() | groupBy:"group":"name"'>
         <option *ngFor='let s of g' [ngValue]='s'>{{s.name}}</option>
      </optgroup>
   </select>

   <div [ngSwitch]='sub.kind'>
      <!-- A person -->
      <div *ngSwitchCase='1'>
         <span *ngIf='subjectNum==2' class='relationship'>is same as</span>
         <persona-link [id]='sub.person.id' [name]='sub.person.name'></persona-link>
      </div>
   
      <!-- An event -->
      <div *ngSwitchCase='2'>
         <div>
            <span *ngIf='subjectNum==2' class='relationship'>took part in</span>
            {{sub.event.name || sub.event.type.name}}
            (
               <span class='relationship'>on</span>
               <time-link [on]="sub.event"></time-link>
               <span class='relationship'>in</span>
               <place-link [id]='sub.event.place.id' [name]='sub.event.place.name'></place-link>
            )
         </div>
         <div>
            <span class='relationship'>as</span>
            <span>{{sub.role}}</span>
         </div>
      </div>
   
      <!-- A characteristic -->
      <div *ngSwitchCase='3'>
         <div>
            <span *ngIf='subjectNum==2' class='relationship'></span>
            <div *ngIf="sub.parts.length == 1">{{sub.char.name}} : {{sub.parts[0].value}}</div>
            <div *ngIf="sub.parts.length != 1">
               {{sub.char.name}}
               <span *ngFor='let p of sub.parts'>
                  <span class="char">{{p.name}}</span>: {{p.value}}
                  <br>
               </span>
            </div>
         </div>
         <div>
            <span class='relationship'>on</span>
            <time-link [on]="sub.char"></time-link>
         </div>
         <div>
            <span class='relationship'>in</span>
            <place-link [id]='sub.char.place.id' [name]='sub.char.place.name'></place-link>
         </div>
      </div>
   
      <!-- A group -->
      <div *ngSwitchCase='4'>
         <span *ngIf='subjectNum==2' class='relationship'>belongs to</span>
         <div>{{sub.gr.name}} (as {{sub.role}})</div>
         <div>
            <span class='relationship'>on</span>
            <time-link [on]="sub.gr"></time-link>
         </div>
         <div>
            <span class='relationship'>in</span>
            <place-link [id]='sub.gr.place.id' [name]='sub.gr.place.name'></place-link>
         </div>
      </div>
   
      <!-- Unknown -->
      <div *ngSwitchDefault>???</div>
   </div>
</div>
