<table>
   <tr>
      <th>Person</th>
      <th>Role</th>
      <th>Comment</th>
      <th>Rationale</th>
      <th>Surety</th>
      <th>Sources</th>
   </tr>
{% for p in e.p2e %}
   {% if p.disproved %}
   <tr class="disproved">
   {% else %}
   <tr>
   {% endif %}
   <td style="white-space:nowrap"><a href="/persona/{{p.person_id}}">{{p.person.name}} ({{p.person_id}})</a></td>
      <td>{{p.role.name}}</td>
      <td>{{p.value|default:""}}</td>
      <td>{{p.rationale|default:""}}</td>
      <td class="surety" id="psurety{{forloop.counter}}"
         _scheme="{{p.surety.scheme_id}}"
         _order="{{p.surety.sequence_number}}"/>
      {% if p.source_id %}
      <td><a href="/sources/{{p.source_id}}">{{p.source_id}}</td>
      {% else %}
      <td></td>
      {% endif %}
   </tr>
{% endfor %}
</table>

