{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: fanchart {{decujus}}{% endblock %}
{% block css %}
.pedigree td.indiv {background:url({{MEDIA_URL}}horiz.png) left center no-repeat}
#fanchart {width:100%;height:600px;margin:10px 0 10px 0;border:0}
#stats {margin:0; padding:0}
#stats li {margin-bottom:20px; list-style-type:none}

#settings {font-size: 0.8em}

#settings .ui-slider-horizontal {height: 0.2em; margin: 5px 3px 0 10px}
#settings .ui-slider .ui-slider-handle {height:0.6em}
#settings .ui-slider span {font-size:0.8em; margin-top:7px}
#settings .ui-slider span.right {float:right}
{% endblock css %}

{% block header %}
<link rel="stylesheet" href="{{MEDIA_URL}}ui-lightness/jquery-ui-1.9.2.custom.min.css"/>
<script type="text/javascript" src="{{MEDIA_URL}}jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jquery.color.js"></script>
{% endblock header %}

{% block script %}
$(document).ready(function() {
   var data={{pedigree_data|safe}};
   var g = new FanchartCanvas($("#fanchart")[0], data);
   g.onResize();
});
{% endblock script %}

{% block endbody %}
<script type="text/javascript" src="{{MEDIA_URL}}jquery.detectFontSize.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}mouse_events.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}canvas.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}fanchart.js"></script>
{% endblock endbody %}

{% block leftside %}
<h2>Fanchart View</h2>
<div id="settings">
Generations<div id="gens"><span>2</span><span class="right">max</span></div>
<br>
Size:<div id="size"><span>90</span><span class="right">360</span></div>
<br>
Separator between couples:<div id="separator"></div>
<br>
Marriages:&nbsp;<input type="checkbox" name="marriages"/>
<br>
Colors:&nbsp;<select name="colors">
   <option value="0">Rules</option>
   <option value="1">Pedigree</option>
</select>
<br>
Appearance:&nbsp;<select name="appearance">
   <option value="0">Flat</option>
   <option value="1">Gradient</option>
</select>
<br>
Auto Scale:&nbsp;<input type="checkbox" name="autoScale"/>
</div>

{{legend|safe}}
{% endblock leftside %}

{% block contents %}
<canvas class="graph" id="fanchart"></canvas>
{% endblock contents %}
