{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: fanchart {{decujus}}{% endblock %}
{% block css %}
.pedigree td.indiv {background:url({{MEDIA_URL}}horiz.png) left center no-repeat}
#fanchart {width:100%;height:600px;margin:10px 0 10px 0;border:0}
#stats {margin:0; padding:0}
#stats li {margin-bottom:20px; list-style-type:none}
{% endblock css %}

{% block script %}
function changeGenerations() {
   var gen = Number (getSelectedValue ($("select[name=generations]")[0]));
   window.location = "/fanchart/{{decujus}}?gens=" + gen;
}
var fanchart;
$(document).ready(function() {
   var data={{pedigree_data|safe}};
   fanchart = new FanchartCanvas($("#fanchart")[0], data);
   fanchart.onResize();
});
{% endblock script %}

{% block endbody %}
<script type="text/javascript" src="{{MEDIA_URL}}jquery.detectFontSize.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}mouse_events.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}canvas.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}fanchart.js"></script>
{% endblock endbody %}

{% block leftside %}
<h2>Fanchart View</h2>
Generations:&nbsp;<select name="generations" onchange="changeGenerations()">
   {% for g in genrange %}
      {% if g == generations %}
      <option selected>{{g}}</option>
      {% else %}
      <option>{{g}}</option>
      {% endif %}
   {% endfor %}
</select>
<br>
Colors:&nbsp;<select name="colorScheme" onchange="fanchart.setColorScheme(this.value)">
   <option value="0">Rules</option>
   <option selected value="1">Pedigree</option>
</select>
<br>
Marriages&nbsp;<input type="checkbox" checked onchange="fanchart.setShowMarriage(this.checked)">

{{legend|safe}}
{% endblock leftside %}

{% block contents %}
<canvas class="graph" id="fanchart"></canvas>
{% endblock contents %}
