{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: First time use{% endblock %}
{% block css %}
p {margin-top: 10px; margin-left: 20px}
#importReport {
   margin-top: 40px; border:1px solid black; margin-left: 50px}
.error {background-color:rgba(200,0,0,0.2) }
#progressbar .ui-progressbar-value { background-color: #ccc; }
{% endblock css %}

{% block endbody %}
{% endblock endbody %}

{% block leftside %}
{% endblock leftside %}

{% block script %}
$("input[value=import]").click(on_import);
{% endblock script %}

{% block contents %}
<h2>Welcome to Geneapro</h2>

<div>

{% if not success %}
<div id="importReport" class="error">
   Geneapro could not import your file. This is either because your file does
   not contain correct GEDCOM data, or more likely because of limitations in
   Geneapro. Please
   <a href="http://github.com/briot/geneapro/issues/new">Report</a>
   this issue to the Geneapro developers. If your GEDCOM data contains
   information you wish to keep private, you can use the script
   <pre>gedcom_anon.py</pre> to anonymize the data before you send it to us.
   <br>
   <pre>{{ error }}</pre>
</div>

{% else %}
  {% if error %}
<div id="importReport">
   Your file was successfully imported, although some data might be missing.
Check the output of the importer below:
   <br>
   <pre>{{ error }}</pre>
</div>
  {% else %}
<div id="importReport">
   Your data was successfull imported.
</div>
  {% endif %}
{% endif %}

{% endblock contents %}
