{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: pedigree{% endblock %}
{% block css %}
.pedigree td.indiv {background:url({{MEDIA_URL}}horiz.png) left center no-repeat}
#pedigreeSVG {position:absolute;width:100%;height:100%;margin:10px 0 10px 0;border:0}
{% endblock css %}

{% block script %}
function changeGenerations () {
{% ifequal type "fanchart" %}
   getPedigree ({yearonly:true});
{% else %}
   getPedigree ({yearonly:false});
{% endifequal %}
}
{# Preload the initial data. Faster display, and compatibility with #}
{#   django-debug-toolbar #}
data={{pedigree_data|safe}};
pedigree_data_url="{% url pedigree_data %}";
$(document).ready (function() {
   drawSOSA ();
});
{% endblock script %}

{% block endbody %}
<script type="text/javascript" src="{{MEDIA_URL}}pedigree2.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}mouse_events.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}canvas.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jquery.detectFontSize.js"></script>
{% endblock endbody %}
{% block contents %}

<div style="position:absolute">
Generations:&nbsp;<select name="generations" onchange="changeGenerations()">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option selected>5</option>
  <option>6</option>
  <option>7</option>
  <option>8</option>
  <option>9</option>
  <option>10</option>
  <option>11</option>
  <option>12</option>
  <option>13</option>
</select>
</div>

{{legend|safe}}
<canvas id="pedigreeSVG"></canvas>
</div>
{% endblock contents %}
