{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: pedigree {{decujus}}{% endblock %}
{% block css %}
.pedigree td.indiv {background:url({{MEDIA_URL}}horiz.png) left center no-repeat}
{% endblock css %}

{% block script %}
function changeGenerations () {
   var gen = Number (getSelectedValue ($("select[name=generations]")[0]));
   window.location = "/pedigree/{{decujus}}?gens=" + gen;
}
var canvas;

$(document).ready (function() {
   var data_ = {{pedigree_data|safe}};
   canvas = new PedigreeCanvas(
      $("#pedigree")[0], data_, $("#sameSize")[0].checked);
   canvas.onResize();
});
{% endblock script %}

{% block endbody %}
<script type="text/javascript" src="{{MEDIA_URL}}mouse_events.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}canvas.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}pedigree2.js"></script>
{% endblock endbody %}

{% block leftside %}
<h2>Pedigree View</h2>
Generations:&nbsp;<select name="generations" onchange="changeGenerations()">
   {% for g in genrange %}
      {% if g == generations %}
      <option selected>{{g}}</option>
      {% else %}
      <option>{{g}}</option>
      {% endif %}
   {% endfor %}
</select>

<br>
Same size: <input type="checkbox" id="sameSize"
                  onchange="canvas.setSameSize(this.checked)"/>

{{legend|safe}}
{% endblock leftside %}

{% block contents %}
<canvas class="graph" id="pedigree"></canvas>
{% endblock contents %}
