{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: pedigree {{decujus}}{% endblock %}
{% block css %}
.pedigree td.indiv {background:url({{MEDIA_URL}}horiz.png) left center no-repeat}

#settings {font-size: 0.8em}

#settings .ui-slider-horizontal {height: 0.2em; margin: 5px 3px 0 10px}
#settings .ui-slider .ui-slider-handle {height:0.6em}
#settings .ui-slider span {font-size:0.8em; margin-top:7px}
#settings .ui-slider span.right {float:right}
{% endblock css %}

{% block script %}
$(document).ready (function() {
   var data_ = {{pedigree_data|safe}};
   var canvas = new PedigreeCanvas($("#pedigree")[0], data_);
});
{% endblock script %}

{% block header %}
<link rel="stylesheet" href="{{MEDIA_URL}}ui-lightness/jquery-ui-1.9.2.custom.min.css"/>
<script type="text/javascript" src="{{MEDIA_URL}}jquery-ui-1.9.2.custom.min.js"></script>
{% endblock header %}

{% block endbody %}
<script type="text/javascript" src="{{MEDIA_URL}}mouse_events.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}canvas.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}abstractpedigree.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}pedigree2.js"></script>
{% endblock endbody %}

{% block leftside %}
<h2>Pedigree View</h2>
<div id="settings">
Ancestors:<div id="gens"><span>0</span><span class="right">max</span></div>
<br>
Descendants:<div id="Dgens"><span>0</span><span class="right">max</span></div>
<br>Same size: <input type="checkbox" name="sameSize"/>
<br>Colors:&nbsp;<select name="colors">
    <option value="0">Rules</option>
    <option value="1">Pedigree</option>
    <option value="2">Generation</option>
    <option value="3">No box</option>
  </select>
<br>Appearance:&nbsp;<select name="appearance">
    <option value="0">Flat</option>
    <option value="1">Gradient</option>
  </select>
<br>Layout:&nbsp;<select name="layout">
    <option value="0">Expanded</option>
    <option value="1">Compact</option>
  </select>
<br>Auto scale:&nbsp;<input type="checkbox" name="autoScale"/>
<br>Horizontal spacing:<div id="hspace"><span>0</span><span class="right">max</span></div>
<br>Vertical spacing:<div id="vspace"><span>0</span><span class="right">max</span></div>
</div>

{{legend|safe}}
{% endblock leftside %}

{% block contents %}
<div id="canvasActions">
   <a href="/persona/a" class="persona"><img src="{{MEDIA_URL}}user.png" alt="P"/></a>
</div>
<canvas class="graph" id="pedigree"></canvas>
{% endblock contents %}
