{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: pedigree{% endblock %}
{% block css %}
.pedigree td.indiv {background:url({{MEDIA_URL}}horiz.png) left center no-repeat}
#pedigreeSVG {width:100%;height:100%;margin:10px 0 10px 0;border:0}
{% endblock css %}
{% block contents %}
<script type="text/javascript">
var boxWidth = 200;
var horizPadding = 20;
var boxHeight = 50;
var vertPadding = 20; {# vertical padding at last gen #}
sosa = {{ pedigree|safe }};
generations = {{ generations }};

function onMouseOver (evt) {
  var box = evt.target;
  box.setAttribute ('oldstroke', box.getAttribute ('stroke'));
  box.setAttribute ('stroke', '#555');
  box.setAttribute ('filter','');
}
function onMouseOut (evt) {
  var box = evt.target;
  box.setAttribute ('stroke', box.getAttribute ('oldstroke'));
  box.setAttribute ('filter','url(#shadow)');
}
function onTxtMouseOver (evt) {
  var box = evt.target;
  box.setAttribute ('oldstroke', box.getAttribute ('stroke'));
  box.setAttribute ('stroke', '#555');
  box.setAttribute ('stroke-width', '1');
}
function onTxtMouseOut (evt) {
  var box = evt.target;
  box.setAttribute ('stroke', box.getAttribute ('oldstroke'));
  box.setAttribute ('stroke-width', '0');
}

function drawPedigree(svg) {
   var maxBoxes = Math.pow (2,generations-1);{# max boxes at last generation #}
   var totalBoxes = Math.pow (2,generations) - 1; {# geometrical summation #}
   var maxWidth = (boxWidth + horizPadding) * generations + 1;
   var maxHeight = boxHeight * maxBoxes + vertPadding * (maxBoxes - 1);

   svg.configure({viewBox:'0 0 ' + maxWidth + " " + maxHeight,
                  preserveAspectRatio:"xMinYMid"},true);
   var filter = svg.filter (svg.defs(), 'shadow', 0, 0);
   svg.filters.gaussianBlur (filter, 'myBlur', {#'SourceAlpha'#}'', 2);
   svg.filters.offset (filter, 'finalBlur', 'myBlur', 3, 3);
   svg.filters.merge (filter, 'finalBlur', ['finalBlur', 'SourceGraphic']);

   var tops = new Array(totalBoxes);

   {#Compute the positions for the last generation, so that boxes occupy the#}
   {# whole height of the window. We have 2^gen boxes and 2^gen-1 separators #}

   var y = 0;
   for (var index=totalBoxes - maxBoxes; index < totalBoxes; index++) {
      tops[index] = y;
      y += boxHeight + vertPadding;
   }

   {# For the other generations, the boxes are centered relatively to their #}
   {# ancestors in the next gen #}

   for (index = totalBoxes - maxBoxes - 1; index >= 0; index--) {
      tops[index] = (tops [2 * index + 1] + tops [2 * index + 2]) / 2;
   }

   drawBox = function(x, index) {
      person = sosa [index + 1];
      if (person) {
         var bg = (index % 2 != 0) ? '#D6E0EA' : '#E9DAF1';
         var fg = (index % 2 != 0) ? '#9CA3D4' : '#FF2080';
         svg.rect (x, tops[index], boxWidth, boxHeight,
                  {stroke:fg, fill:bg, filter:"url(#shadow)",
                   onmouseover:'onMouseOver(evt)',
                   onmouseout:'onMouseOut(evt)'});
         var clip = svg.other ('clipPath', {id:'person'+index});
         svg.rect (clip, x, tops[index], boxWidth, boxHeight);

        if (person.name) {
          svg.text(x + 4, tops[index] + 16,
               svg.createText().string(person.name)
               .span ("b:", {x:x+4, dy:16})
               .span ("d:", {x:x+4, dy:16}),
               {"font-weight":"bold", "clip-path":"url(#person"+index+")",
                "pointer-events":"none"});
        }
      } else {
         svg.rect (x, tops[index], boxWidth, boxHeight,
                  {stroke:'#9CA3D4', fill:'#EEE', "stroke-dasharray":"3",
                   onmouseover:'onMouseOver(evt)',
                   onmouseout:'onMouseOut(evt)'});
      }
   }

   index = 0;
   for (var gen = 0; gen < generations; gen++) {
      var x = (boxWidth + horizPadding) * gen + 1;
      for (var box = Math.pow (2, gen); box >= 1; box--) {
         if (gen < generations - 1) {
            var x2 = x + boxWidth + horizPadding;
            var y1 = tops[2 * index + 1] + boxHeight / 2;
            var y2 = tops[2 * index + 2] + boxHeight / 2;
            svg.path (svg.createPath()
                      .moveTo (x2, y1)
                      .horizTo (x + boxWidth * 0.9)
                      .vertTo (y2)
                      .horizTo (x2),
                      {stroke:'black', fill:'none'});
            if (gen < generations - 1) {
              svg.text (x2, (y1 + y2) / 2 + 4,
                        svg.createText().string ("marriage ?"),
                        {stroke:"black", "stroke-width":0,
                         onmouseover:'onTxtMouseOver(evt)',
                         onmouseout:'onTxtMouseOut(evt)'});
            }
         }
         drawBox (x, index);
         index ++;
      }
   }
}
$(function(){
  $('#pedigreeSVG').svg({onLoad:drawPedigree});
});
</script>
<div id="pedigreeSVG"></div>
{% endblock contents %}

