{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: person {{decujus.id}}{% endblock %}
{% block css %}
.pedigree td.indiv {background:url({{MEDIA_URL}}horiz.png) left center no-repeat}
{% endblock css %}

{% block header %}
<link rel="stylesheet" href="{{MEDIA_URL}}datatables.css"/>
<script type="text/javascript" src="{{MEDIA_URL}}jquery.raty.min.js"></script>
{% endblock header %}

{% block script %}
$(document).ready(function() {

$(".surety").each(function() {
  var $t=$(this), start=$t.text();
  console.log("--" + $t.text() + "--");
  $t.empty().raty({
     path:'{{MEDIA_URL}}raty_img/',
     number:5,  {# ??? Depends on surety scheme #}
     hintList: ['very low', 'low', 'normal', 'high', 'very high'],
     start:start,
     cancel:true,
     cancelHint:'Unknown surety',
     readOnly:true,
     })
  });


$("#list").dataTable(
  {"bPaginate": false,
   "sDom": '<"top"fi>rt',
   "aaSorting": [[ 3, "asc" ]], // on dates
   "aoColumns": [
      { "bSortable": false },
      null,
      null,
      null,
      null,
      null,
      null,
   ],
  }
);
});

{% endblock script %}

{% block endbody %}
{% endblock endbody %}

{% block leftside %}
{% endblock leftside %}

{% block contents %}

<h3 id="title">
   <span class="id">{{decujus.id}}</span>
   <span class="givenName">{{decujus.base_given_name}}</span>
   <span class="surName">{{decujus.base_surname}}</span>
   <span class="details">({{decujus.birth.date}} - {{decujus.death.date}})</span>
</h3>

<div id="containers">
 <table id="list" class="persona">
   <thead>
      <tr>
         <th>Type (Role)</th>
         <th>Name</th>
         <th>Date</th>
         <th>Place</th>
         <th>Assertion</th>
         <th>Persona</th>
         <th>Sources</th>
      </tr>
   </thead>
   <tbody>

   {% for k, c in chars.items %}
   <tr>
      <td>{{c.char.name}}</td>

      {% if c.parts|length == 1 %}
      <td>{{c.parts.0.value}}</td>
      {% else %}
      <td>
         {% for p in c.parts %}
         <span class="char">{{p.name}}</span>: {{p.value}}<br>
         {% endfor %}
      </td>
      {% endif %}

      <td class="date">{{c.char.Date|default:"-"}}</td>
      <td class="place">{{c.char.place|default:"-"}}</td>
      <td class="assert">
         {{c.assertion.value|linebreaks}}
         {{c.assertion.rationale|default:""|linebreaks}}
         <span class="surety" id="csurety{{k}}">{{c.assertion.surety.sequence_number}}</span></td>
      <td class="persona">{{c.assertion.person_id}}</td>
      <td>
         {% for s in c.char.sources %}
            {% if s %}
         <a href="/sources/{{s}}">{{s}}</a>
            {% endif %}
         {% endfor %}
      </td>
   </tr>
   {% endfor %}

   {% for i, e in events.items %}
      {% if e.assertion.disproved %}
      <tr class="disproved">
      {% else %}
      <tr>
      {% endif %}
         {% if e.role == "principal" %}
         <td>{{e.event.type.name}}</td>
         {% else %}
         <td>{{e.event.type.name}} ({{e.role|default:""}})</td>
         {% endif %}
         <td>{{e.event.name}}</td>
         <td class="date">{{e.event.Date|default:"-"}}</td>
         <td class="place">{{e.event.place|default:"-"|linebreaks}}</td>
         <td class="assert">
            {{e.assertion.value|linebreaks}}
            {{e.assertion.rationale|default:""|linebreaks}}
            <span class="surety" id="esurety{{i}}">{{e.assertion.surety.sequence_number}}</span></td>
         <td class="persona">{{e.assertion.person_id}}</td>
         <td>
            {% for s in e.event.sources %}
               {% if s %}
             <a href="/sources/{{s}}">{{s}}</a>
               {% endif %}
            {% endfor %}
         </td>
      </tr>
   {% endfor %}

   {% for i, g in groups.items %}
      <tr>
         <td>Group</td>
         <td>{{g.group.name}} ({{g.group.role|default:""}})</td>
         <td class="date">{{g.group.date|default:"-"}}</td>
         <td class="place">{{g.group.place|default:"-"}}</td>
         <td class="assert">
            {{g.assertion.value|linebreaks}}
            {{g.assertion.rationale|default:""|linebreaks}}
            <span class="surety" class="gsurety{{i}}">{{g.assertion.surety.sequence_number}}</span></td>
         <td class="persona">{{g.assertion.person_id}}</td>
         <td>
            {% for s in g.group.sources %}
               {% if s %}
            <a href="/sources/{{s}}">{{s}}</a>
               {% endif %}
            {% endfor %}
         </td>
      </tr>

   {% endfor %}
   </tbody>
 </table>

 {% if p2p|length %}
 <p class="onUse" style="margin-top:10px">
 This person is made up of several persona in the database. Each of
 these persona was constructed from one or more sources, and then they
 were all linked together with the following assertions. Disproving any
 of these will change the information displayed above.
 </p>

 <table>
   <thead>
      <tr>
         <th>Persona1</th>
         <th>Persona2</th>
         <th>These are the same because</th>
         <th>Comments</th>
         <th>Surety</th>
      </tr>
   </thead>
   <tbody>
      {% for p in p2p %}
        {% if p.1.person1_id != p.1.person2_id %}
          {% if p.1.disproved %}
      <tr class="disproved">
          {% else %}
      <tr>
          {% endif %}
        {# ??? Should we show sources and researcher #}
        <td class="persona">{{p.1.person1_id}}</td>
        <td class="persona">{{p.1.person2_id}}</td>
        <td>{{p.1.rationale|default:""}}</td>
        <td>{{p.1.value|default:""}}</td>
        <td class="surety" id="asurety{{forloop.counter}}">{{p.1.surety.sequence_number}}</td>
     </tr>
        {% endif %}
      {% endfor %}
   </tbody>
 </table>
 {% endif %}  {# p2p|length #}

</div>
{% endblock contents %}

