{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: person {{decujus}}{% endblock %}

{% block less %}
<link rel="stylesheet/less" href="{{MEDIA_URL}}datatables.less"/>
{% endblock less %}

{% block header %}
<script type="text/javascript" src="{{MEDIA_URL}}jquery.raty.min.js"></script>
{% endblock header %}

{% block script %}

var schemes = {
{% for i, s in schemes.items %}
  {{i}}: [
  {% for p in s %}
    '{{p.name}}',
  {% endfor %}
  ],
{% endfor %}
};


$(document).ready(function() {

$(".surety").each(function() {
  var $t=$(this), val=$t.attr("_order"), s=$t.attr("_scheme");
  $t.empty().raty({
     path:'{{MEDIA_URL}}raty_img/',
     number:schemes[s].length,
     hintList: schemes[s],
     start:val,
     cancel:true,
     cancelHint:'Unknown surety',
     readOnly:true,
     })
  });

$("#attrs,#events").dataTable(
  {"bPaginate": false,
  "sDom": '<"top"f>rt',
  "oLanguage": {
     "sSearch": ""  {# No search label #}
   },
   "aaSorting": [[ 2, "asc" ]], // initial sort on dates
   "aoColumns": [
      null,
      null,
      { "iDataSort":3},    //  2: date
      { "bVisible":false}, //  3: sortDate
      null,
      null,
   ],
  }
);

$("#p2p_assert").dataTable(
  {"bPaginate": false,
  "sDom": '<"top">rt',
   "aoColumns": [
      null,
      null,
      null,
      null,
   ],
  }
);


$("#attrs_filter, #events_filter").find("input").attr("placeholder", "filter");

{# Hide extra information blocks when folding or unfolding lines #}
$("#events th, #attrs th").click(function() {
    $("#events td.open, #attrs td.optn").removeClass("open").addClass("closed");
});

$("#events td[_url]").addClass("closed")
  .click(toggleExtra).next().click(toggleExtra).css("cursor", "pointer");
});

{# Highlight events for a given person when clicking on it #}
$("#p2p_assert .persona").click(function() {
   var is_selected = $(this).hasClass("highlighted");
   $("[_persona]").removeClass("highlighted");
   if (!is_selected) {
      $("[_persona=" + $(this).text() + "]").addClass("highlighted");
   }
});

{% endblock script %}

{% block endbody %}
{% endblock endbody %}

{% block leftside %}
{% endblock leftside %}

{% block contents %}

<div id="personaDetails">

<h3 id="title">
   <span class="givenName">{{person.base_given_name}}</span>
   <span class="surName">{{person.base_surname}}</span>
   <span class="details">({{person.birth.date}} - {{person.death.date}})</span>
</h3>

<table id="attrs" class="highlightCurrent">
  <thead>
     <tr>
        <th>Type</th>
        <th>Value</th>
        <th>Date</th>
        <th>sortDate</th>
        <th>Place</th>
        <th>Surety</th>
     </tr>
  </thead>
  <tbody>

  {% for k, c in chars.items %}
  <tr _persona="{{c.assertion.person_id}}">
     <td class="type">{{c.char.name}}
        {% for s in c.char.sources %}
           {% if s %}
        <a class="source" href="/sources/{{s}}">{{s}}</a>
           {% endif %}
        {% endfor %}
     </td>

     {% if c.parts|length == 1 %}
     <td>{{c.parts.0.value}}</td>
     {% else %}
     <td>
        {% for p in c.parts %}
        <span class="char">{{p.name}}</span>: {{p.value}}<br>
        {% endfor %}
     </td>
     {% endif %}

     <td class="date">{{c.char.date|default:""}}</td>
     <td>{{c.char.date_sort|default:""}}</td>
     <td class="place">{{c.char.place|default:""}}</td>
     <td class="surety" id="csurety{{k}}"
         _scheme="{{c.assertion.surety.scheme_id}}"
         _order="{{c.assertion.surety.sequence_number}}"/>
  </tr>
  {% endfor %}
</table>

<table id="events" class="highlightCurrent">
  <thead>
     <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Date</th>
        <th>sortDate</th>
        <th>Place</th>
        <th>Surety</th>
     </tr>
  </thead>
  <tbody>

  {% for i, e in events.items %}
     {% if e.assertion.disproved %}
     <tr class="disproved"
     {% else %}
     <tr
     {% endif %}
         _persona="{{e.assertion.person_id}}"
     >
        <td class="type" _url="/event/{{e.event.id}}">
        {% if e.role == "principal" %}
        {{e.event.type.name}}
        {% else %}
        {{e.event.type.name}} <span class="role">({{e.role|default:""}})<span>
        {% endif %}
           {% for s in e.event.sources %}
              {% if s %}
            <a class="source" href="/sources/{{s}}">{{s}}</a>
              {% endif %}
           {% endfor %}
        </td>
        <td>
           {% if e.role != "principal" %}
              {{e.event.name}}
           {% endif %}
        </td>
        <td class="date">{{e.event.date|default:""}}</td>
        <td>{{e.event.date_sort|default:""}}</td>
        <td class="place">{{e.event.place|default:""|linebreaks}}</td>
        <td class="surety" id="esurety{{i}}"
            _scheme="{{e.assertion.surety.scheme_id}}"
            _order="{{e.assertion.surety.sequence_number}}"/>
     </tr>
  {% endfor %}

  {% for i, g in groups.items %}
     <tr _persona="{{g.assertion.person_id}}">
        <td class="type">Group
           {% for s in g.group.sources %}
              {% if s %}
           <a class="source" href="/sources/{{s}}">{{s}}</a>
              {% endif %}
           {% endfor %}
        </td>
        <td>{{g.group.name}} ({{g.group.role|default:""}})</td>
        <td class="date">{{g.group.date|default:""}}</td>
        <td>{{g.group.date_sort|default:""}}</td>
        <td class="place">{{g.group.place|default:""}}</td>
        <td class="surety" id="gsurety{{i}}"
            _scheme="{{g.assertion.surety.scheme_id}}"
            _order="{{g.assertion.surety.sequence_number}}"/>
     </tr>
  {% endfor %}
  </tbody>
</table>

{% if p2p|length %}
<p class="onUse" style="margin-top:10px; margin-left:30px;">
This person is made up of several persona in the database. Each of
these persona was constructed from one or more sources, and then they
were all linked together with the following assertions. Disproving any
of these will change the information displayed above.

Click on a persona id to see events and attributes related to that persona.
</p>

<table id="p2p_assert">
  <thead>
     <tr>
        <th>Persona1</th>
        <th>Persona2</th>
        <th>These are the same because</th>
        <th>Surety</th>
     </tr>
  </thead>
  <tbody>
     {% for p in p2p %}
       {% if p.1.person1_id != p.1.person2_id %}
         {% if p.1.disproved %}
     <tr class="disproved">
         {% else %}
     <tr>
         {% endif %}
       {# ??? Should we show sources and researcher #}
       <td class="persona" _persona="{{p.1.person1_id}}">{{p.1.person1_id}}</td>
       <td class="persona" _persona="{{p.1.person2_id}}">{{p.1.person2_id}}</td>
       <td>{{p.1.rationale|default:""}}</td>
       <td class="surety" id="asurety{{forloop.counter}}"
                 _scheme="{{p.1.surety.scheme_id}}"
                 _order="{{p.1.surety.sequence_number}}"/>
       </td>
    </tr>
       {% endif %}
     {% endfor %}
  </tbody>
</table>
{% endif %}  {# p2p|length #}

</div>
{% endblock contents %}

