{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: Quilts {{decujus}} {% endblock %}

{% block css %}
{% endblock css %}

{% block script %}
var canvas;
$(document).ready(function() {
  var data_ = {{persons|safe}};
  var families_ = {{families|safe}};
  canvas = new QuiltsCanvas($("#quilts")[0], data_, families_);
  canvas.onResize();
});
{% endblock script %}

{% block endbody %}
<script type="text/javascript" src="{{MEDIA_URL}}mouse_events.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}canvas.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}rtree.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}quilts.js"></script>
{% endblock endbody %}

{% block leftside %}
<h2>Quilts View</h2>
<input type="checkbox" title="Show only selected persons"
        onchange="canvas.filterSelected(this.checked)">Filter selected</input>
{% endblock leftside %}

{% block contents %}
<canvas id="quilts" style="width:100%;height:100%"></canvas>
{% endblock contents %}
