{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: Quilts{% endblock %}

{% block css %}
{% endblock css %}

{% block script %}
$(document).ready(function() {
  var data_ = {{data|safe}};
  var families_ = {{families|safe}};
  var q = new QuiltsCanvas($("#quilts")[0], data_, families_);
  q.onResize();
});
{% endblock script %}

{% block endbody %}
<script type="text/javascript" src="{{MEDIA_URL}}mouse_events.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}canvas.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}rtree.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}quilts.js"></script>
{% endblock endbody %}

{% block leftside %}
{% endblock leftside %}

{% block contents %}
<canvas id="quilts" style="width:100%;height:100%"></canvas>
{% endblock contents %}
