{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: source {{s.id}} {% endblock %}
{% block css %}
{# Defined in line to get variable replacement #}
.person {background:url("{{MEDIA_URL}}user.png") no-repeat left center}
{#.date   {background:url("{{MEDIA_URL}}calendar.png") no-repeat left center}#}
.place  {background:url("{{MEDIA_URL}}place.png") no-repeat left center}
.ui-tabs-nav a, .ui-tabs-nav a span {background: url({{MEDIA_URL}}tab.png) no-repeat}
.jcarousel-skin-tango .jcarousel-next-horizontal {background: transparent url({{MEDIA_URL}}next-horizontal.png) no-repeat 0 0}
.jcarousel-skin-tango .jcarousel-prev-horizontal {background: transparent url({{MEDIA_URL}}prev-horizontal.png) no-repeat 0 0}

.sourceGallery ul.carousel li {background:url({{MEDIA_URL}}entry.gif) 0 0 no-repeat}

{% endblock css %}
{% block header %}
<link rel="stylesheet" href="{{MEDIA_URL}}jcarousel.css"/>
<link rel="stylesheet" href="{{MEDIA_URL}}ui.tabs.css"/>
<link rel="stylesheet" href="{{MEDIA_URL}}datatables.css"/>
<script type="text/javascript" src="{{MEDIA_URL}}jquery-ui-1.8.9.custom.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}mouse_events.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}canvas.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jquery.dragpane.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jquery.jcarousel.0.2.7.min.js"></script>
<!--
<script type="text/javascript" src="{{MEDIA_URL}}adacore.tooltips.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jquery.watermark.pack.js"></script>
-->
<script type="text/javascript" src="{{MEDIA_URL}}jquery.sprintf.js"></script>
{% endblock header %}

{% block leftside %}
   <div class="sourceGallery">
    {% if s.representations.all %}
    <div id="sourceGalleryCarousel">
     <ul id="carousel" class="jcarousel-skin-tango">
        {% for r in s.representations.all %}
        <li title="{{r.comments}}"><img alt="not found" src="/repr/75/{{r.id}}"></li>
        {% endfor %}
     </ul>
     <div style="text-align:right; margin-right:10px">
      <ul style="list-style-type:none">
       <li><a href="#">add</a></li>
       <li style="margin-top:10px"><a href="#">remove</a></li>
      </ul>
     </div>
    </div> <!-- sourceGalleryCarousel -->
    {% endif %}
   </div> <!-- sourceGallery -->

{% endblock leftside %}

{% block contents %}
<div id="tabs" style="margin-top:10px">
  <ul>
    <li><a href="#info"><span>Information</span></a></li>
    <li><a href="#extracts"><span>Evidences</span></a></li>
  </ul>

<div id="info">

<h3 id="title">
   <span class="id">Source {{s.id}}</span>
   <span class="name">
      {% if s.title %}
         {{s.title}}
      {% else %}
        {% if s.abbrev %}
         {{s.abbrev}}
        {% else %}
         {# Should try to build the citation properly #}
         {{s.comments}}
        {% endif %}
      {% endif %}
   </span>
</h3>

 <div class="sourceInfo">
    <div class="sourceDetails">
     <table>
      <tr><th>Source type</th>
          <td><select name="sourceMediaType">
             <option selected>{{c.medium.name}}</option>
             {% for t in source_mediums %}
             <option>{{t.name}}</option>
             {% endfor %}
             </select></td>
      </tr>

      <tr><th>Subject Date</td>
         <td><input type="text" class="date" title="The date the source is about" value="{{s.subject_date|default:""}}"/></td></tr>

      <tr><th>Subject Place</td>
         <td><input type="text" class="place" title="The place the source is about" value="{{s.subject_place|default:""}}"/></td></tr>

      <tr><th>Jurisdiction Place</td>
         <td><input type="text" class="place" title="Where the source was found" value="{{s.jurisdiction_place|default:""}}"/></td></tr>

      {% for c in s.citations %}
      <tr><th>{{c.type.name}}</th>
         <td><input type="text" value="{{c.value}}"/></td></tr>
      {% endfor %}

      <tr><th>Comments</th>
         <td><textarea>{{s.comments}}</textarea></td></tr>

      <tr><th>Researched by</th>
         <td><input type="text" value="{{s.researcher.name}}"/></td></tr>

     </table>
    </div>{# sourceDetails #}
   </div>{# sourceInfo #}

   {# Repositories #}

   <div class="sourceRepos" style="clear:both; margin-top:20px">
    <div class="actions"><a href="#">add</a> | <a onclick='hideOrShow(this,".repoList")'>hide</a></div>
    <h2>Repositories</h2>
    <div class="repoList">
  {% for r in s.repositories.all %}
      <div class="repositoryInfo">
        <h3>This source was found in:</h3>
        <table>
         <tr><th>Repository Name</td>
            <td><input type="text" value="{{r.name}}"
                 title="A repository is a physical (or Internet) location where the source was found. It will in general give access to several sources"></td></tr>
           <tr><th>Repository Type</td>
               <td><select name="repositoryType">
                 {% for t in repository_types %}
                    <option>{{t.name}}</option>
                 {% endfor %}
                   </select></td></tr>
            <tr><th>Address/URL</td>
                <td><textarea lines="3">{{s.repo.url}}</textarea></td></tr>
          </table>
         </div> <!-- repositoryInfo -->
  {% endfor %}
     </div>
   </div>

   <div class="sourceActions" style="margin-top:20px">
    <div class="actions"><a href="#">add</a> | <a onclick='hideOrShow(this,".actionsList")'>hide</a></div>
    <h2>Research to be done</h2>
    <div class="actionsList">
     <ul>
        <li>Not implemented yet</li>
     </ul>
    </div> <!-- actionsList -->
   </div> <!-- sourceActions -->
  </div> <!-- #info -->

  <div id="extracts">
   <div class="sourcepartInfo">
    {% if s.representations.all %}
      <input type="button" value="grayscale"
          onclick="$('div.scrollable canvas').dragPane('grayscale')"/>
      <input type="button" value="Edges"
          onclick="$('div.scrollable canvas').dragPane('edgeDetect')"/>
      <input type="button" value="Invert"
          onclick="$('div.scrollable canvas').dragPane('invert')"/>
      <input type="button" value="Remove noise"
          onclick="$('div.scrollable canvas').dragPane('removeNoise')"/>
      <div class="scrollable">
         <img alt="Document not found"
              src="/repr/full/{{s.representations.all.0.id}}">
      </div>
    {% else %}
      <div>
         No representation available
      </div>
    {% endif %}

     <h3>Information</h3>
     <div class="onUse">The persons cited in this section are the ones referenced in the source document. They are not related to existing persons in the database. Such links are created in the Conclusions section below.</div>

     <div id="containers">
      <table id="facts" class="sourcepartData" cellspacing="0" cellpadding="0">
        <thead>
           <tr>
              <th>Subject1</th>
              <th>Subject2</th>
              <th>Date</th>
              <th>Place</th>
              <th>Value</th>
              <th>Surety</th>
              <th>Rationale</th>
           </tr>
        </thead>
        <tbody>
           {% for a in s.asserts %}
             {% if a.disproved %}
           <tr class="disproved">
             {% else %}
           <tr>
             {% endif %}

             <td>
                {% if a.subject1_url %}
                <a href="{{a.subject1_url}}">
                {{a.subject1}}
                </a>
                {% else %}
                {{a.subject1}}
                {% endif %}
             </td>
             <td>
                {% if a.subject2_url %}
                <a href="{{a.subject2_url}}">
                {{a.subject2}}
                </a>
                {% else %}
                {{a.subject2}}
                {% endif %}

                {% for pname, pval in a.parts %}
                <span class="char">{{pname}}</span>: {{pval}}<br>
                {% endfor %}
             
             </td>
             <td class="date">{{a.date|default:""}}</td>
             <td>{{a.place|default:""}}</td>
             <td class="assert">{{a.value|linebreaks|default:""}}</td>
             <td>{{a.surety}}</td>
             <td>{{a.rationale|default:""}}</td>
           </tr>
           {% endfor %}
        </tbody>
      </table>
     </div>

     <img src="{{MEDIA_URL}}add.png" alt="add new event">
     <select type="eventType1" style="font-style:italic">
      <option selected>Event</option>
      <option>Birth</option>
      <option>Death</option>
      <option>Marriage</option>
     </select>

     <select type="eventType1" style="font-style:italic">
      <option selected>Characteristic</option>
      <option>Occupation</option>
      <option>Residence</option>
      <option>Education</option>
     </select>

     <select type="eventType1" style="font-style:italic">
      <option selected>Person-&gt;Person</option>
      <option>Father of</option>
      <option>Mother of</option>
      <option>Son of</option>
      <option>Daughter of</option>
      <option>Brother of</option>
      <option>Sister of</option>
      <option>Godfather of</option>
      <option>Godmother of</option>
     </select>

     <select type="eventType1" style="font-style:italic">
      <option selected>Person-&gt;Event</option>
      <option>Aide</option>
      <option>Celebrant</option>
      <option>Clergy</option>
      <option>Familly</option>
      <option>Signed by</option>
      <option>Unknown</option>
      <option selected>Witness</option>
     </select>

     <h3>Evidence</h3>
     <div class="onUse">They represent our interpretation of information we consider relevant to the research question</div>
   </div> <!-- sourcepartDetails -->
  </div> <!-- #evidences -->
</div> {# #tabs #}

{% endblock contents %}
{% block script %}

$("#facts").dataTable(
  {"sDom": '<"top"lf><"top2"pi>rt',
   "bPaginate": false,
   "bLengthChange": false,
   "bFilter": true,
   "bSort": false,
   "bInfo": false,
   "bAutoWidth": false
  }
);

function hideOrShow(button,selector) {
  $(selector).toggle("fast");
  var b = $(button);
  if (b.text() == "show") b.text ("hide"); else b.text ("show");
}

function getSelectValue (select) {
  return (select.selectedIndex >= 0)
     ? select.options [select.selectedIndex].text
     : select.value;
}

function onTitleChange() {
  parentS = getSelectValue ($("select[name=parentSource]")[0]);
  page    = $("input[name=page]").attr ("value");
  txt = $.sprintf ("%(parent)s, %(page)s", {parent:parentS, page:page});
  $("#titleAbbrev").text(txt);
}

$(document).ready(function(){
  $("#tabs").tabs ({selected:0});
  $("div.scrollable img").dragPane();
  $("#carousel").jcarousel({vertical:true, visible:3, scroll:2});
  $("#carousel img").click(function() {
     var src = this.src.split("/");
     src[src.length - 2] = "full";
     $("div.scrollable canvas").dragPane("setsrc", src.join("/"));
  });

  // $("[tooltip],[title]").tooltip ();
  //$(".mediaView img").imgAreaSelect({selectionColor:'blue'});



  // $("form").watermark ();
  // $("input[name=page],select[name=parentSource]")
  //    .keyup (onTitleChange).change (onTitleChange);
  // onTitleChange ();
});
{% endblock script %}
