{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: source {{s.id}} {% endblock %}

{% block header %}
<link rel="stylesheet" href="{{MEDIA_URL}}ui.tabs.css"/>
<script type="text/javascript" src="{{MEDIA_URL}}mouse_events.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}canvas.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}gallery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}dragpane.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jquery.raty.min.js"></script>
{% endblock header %}

{% block contents %}
<div id="sourceDetails">
   <div id="pane1">
      <div class="scrollable">
         <div class="buttons">
            <input type="button" id="grayscaleButton" value="Grayscale"/>
            <input type="button" id="edgesButton" value="Edges"/>
            <input type="button" id="invertButton" value="Invert"/>
            <input type="button" id="noiseButton" value="Remove noise"/>
            <span style="border-left: 1px solid black; margin: 0 5px"></span>
            <input type="button" id="showAllRepr" value="Show All Representations"/>
            <input type="button" id="previousRepr" value="Previous"/>
            <input type="button" id="nextRepr" value="Next"/>
         </div>
         <img alt="Document not found" src=""/>
      </div>
      <div id="sourceCitation">
         <span class="id">Source {{s.id}}</span>
         <span class="name">
         {% if s.title %}
            {{s.title}}
         {% else %}
            {% if s.abbrev %}
            {{s.abbrev}}
            {% else %}
            {{s.comments}}
            {% endif %}
         {% endif %}
          </span>
         <div class="moreCitation">
            <div class="arrow" title="Edit source citation"></div>
            <div class="details">
               <fieldset>
                  <legend>Citation (parent citation grayed out)</legend>
                  <input type="button"
                         value="Set higher source"
                         title="Select the source in which this one was found, for instance a specific will inside a will book"/>

                  <span class="field sourceMediaType">
                     <label for="_sourceMediaType">Source type</label>
                     <select name="sourceMediaType" id="_sourceMediaType"
                             title="Select the type of source. This will change the details below to collect those needed for proper citation">
                         <option selected>{{c.medium.name|default:"unknown"}}</option>
                         {% for t in source_mediums %}
                         <option>{{t.name}}</option>
                         {% endfor %}
                     </select>
                  </span>

                  {#??? Should select whether this is a primary source,... (or original/derivative #}
                  {# although this distinction#}
                  {# is sometimes better left for each evidence/pieces of info found in this source. #}
                  {# See QuickLesson 2 from Elizabeth Shown Mill's website #}
                  {# Evidence is our interpretation of the pieces of information #}

                  <div style="clear:both"></div>
                  <div style="margin-left: 0px;">
                     {% for c in s.citations %}
                     <span class="field disabled">
                        <label for="_{{c.type.name}}">{{c.type.name}}</label>
                        <input disabled type="text" id="_{{c.type.name}}" value="{{c.value}}"/>
                     </span>
                     {% endfor %}

                     {# Below are field that would be displayed depending on source type #}
                     {# and what is needed to make up the citation #}
                     <span class="field">
                        <label for="_publication">Publication date</label>
                        <input type="text" id="_publication" name="publication" value=""/>
                     </span>
                     <span class="field">
                        <label for="_volume">Volume</label>
                        <input type="text" id="_volume" name="volume" value=""/>
                     </span>
                     <span class="field">
                        <label for="_page">Page</label>
                        <input type="text" id="_page" name="page" value=""/>
                     </span>
                  </div>
               </fieldset>

               {# The details common to all sources, needed by the GenTech data model #}
               <fieldset>
                  <legend>Research details</legend>
                  <span class="field">
                     <label for="_subjectDate">Subject date</label>
                     <input type="text" id="_subjectDate" class="date"
                            title="The date the source is about. This isn't the date of the source itself."
                            value="{{s.subject_date|default:""}}"/>
                  </span>
                  <span class="field">
                     <label for="_subjectPlace">Subject place</label>
                     <input type="text" id="_subjectPlace"
                            title="The place the source is about"
                            value="{{s.subject_place|default:""}}"/>
                  </span>
                  <span class="field">
                     <label for="_jurisdictionPlace">Jurisdiction place</label>
                     <input type="text" id="_jurisdictionPlace"
                            title="Where the source was found"
                            value="{{s.jurisdiction_place|default:""}}"/>
                  </span>
                  <span class="field">
                     <label for="_researcher">Researched by</label>
                     <input type="text" id="_researcher" value="{{s.researcher.name}}"/>
                  </span>
                  <span class="field">
                     <label for="_notes">Notes</label>
                     <textarea id="_notes" name="notes">{{s.comments}}</textarea>
                  </span>
               </fieldset>

               {# The repositories #}
               <fieldset>
                  <legend>Repositories</legend>
                  <div class="actions"> 
                     <input type="button" value="+"/>
                     <input type="button" value="-"/>
                  </div>
                  {% for r in s.repositories.all %}
                  <div class="repositoryInfo">
                     <div class="fieldGroup">
                        <span class="field">
                           <label for="_repoName1">Name</label>
                           <input type="text" id="_repoName1" value="{{r.name}}"
                                  title="A repository is a physical (or Internet) location where the source was found. It will in general give access to several sources">
                        </span>
                        <span class="field">
                           <label for="_repoType1">Type</label>
                           <select name="repositoryType">
                               {% for t in repository_types %}
                               <option>{{t.name}}</option>
                               {% endfor %}
                           </select>
                        </span>
                     </div>
                     <span class="field">
                        <label for="_repoAddr1">Address/URL</label>
                        <textarea lines="3">{{s.repo.url}}</textarea>
                     </span>
                  </div> <!-- repositoryInfo -->
                  {% endfor %}
               </fieldset>
            </div>{# details #}
         </div> {# moreInfo #}
      </div> {# sourceInfo #}

      {% if s.representations.all %}
      <div id="sourceGallery" class="gallery">
         {% for r in s.representations.all %}
         <div title="{{r.comments}}" _id="{{r.id}}">
            <img alt="not found" src="/repr/400/{{r.id}}" />
         </div>
         {% endfor %}
         <div class="actions">
            <input type="button" value="+"/>
            <input type="button" value="-"/>
            <input type="button" title="Zoom in on this specific representation (you can also double-click)" id="viewRepr" value="View"/>
         </div>
      </div>
      {% endif %}
  </div> {# pane1 #}

  {# ----- Information ---- #}

  <h3>Information / Claims</h3>
  <div class="onUse">The persons cited in this section are the ones referenced in the source document. They are not related to existing persons in the database. Such links are created in the Conclusions section below.</div>
  <div class="buttons">
     <input type="button" value="+ Event"/>
     <input type="button" value="+ Relationship"/>
     <input type="button" value="+ Characteristic"/>

  <div class="info event">   {# Describes one piece of info from the source #}
     A <select>
        <option selected>Marriage</option>
        <option>Birth</option>
        <option>Death</option>
        <option>Event</option>
       </select> took place <input value="1900-01-01"/>
     in <input value="Paris, France"/>
     <span class="surety" _scheme="1" _order="1"></span>
     <br>
     <input value="John Smith"/> was a <select>
        <option selected>husband</option>
        <option>Aide</option>
        <option>Celebrant</option>
        <option>Clergy</option>
        <option>Familly</option>
        <option>Signed by</option>
     </select> at this event.
     <span class="surety" _scheme="1" _order="1"></span>
     <br>
     <input value="Mary Clyde"/> was a <select><option selected>wife</option></select> at this event.
     <span class="surety" _scheme="1" _order="1"></span>
     <br>
     <input value="Henry Duval"/> was a <select><option selected>witness</option></select> at this event.
     <span class="surety" _scheme="1" _order="1"></span>
     <br>
     <input value="Robert Smith"/> was a <select><option selected>witness</option></select> at this event.
     <span class="surety" _scheme="1" _order="1"></span>

     <div class="buttons">
        <input type="button" value="+">
        <input type="button" value="-">
     </div>
  </div>

  <div class="info p2p">
     <input value="Robert Smith"/> is <select>
        <option selected>brother</option>
        <option>sister</option>
        <option>daughter</option>
        <option>son</option>
        <option>father</option>
        <option>mother</option>
        <option>neighbor</option>
        <option>Godfather</option>
        <option>Godmother</option>
     </select> to <input value="John Smith"/> on <input value=""/>
     <span class="surety" _scheme="1" _order="2"></span>
  </div>

  <div class="info p2p">
     <input value="Henry Duval"/> is <select><option selected>neighbor</option></select> to <input value="Mary Clyde"/> on <input value="1900-01-01"/>.
     <span class="surety" _scheme="1" _order="2"></span>
  </div>

  <div class="info attr">
     <input value="John Smith"/> <select>
        <option selected>Residence</option>
        <option>Occupation</option>
        <option>Education</option>
        <option>Number of children</option>
     </select> was <input value="address"/> on <input value="before 1900-01-01"/>
     <span class="surety" _scheme="1" _order="2"></span>
  </div>

  <div class="info attr">
     <input value="John Smith"/> <select><option selected>Occupation</option></select> was <input value="Work"/> on <input value="1900-01-01"/>
     <span class="surety" _scheme="1" _order="2"></span>
  </div>

  {# -----  Conclusions ------ #}
  <h3>Conclusions</h3>
  <div class="onUse">This section associated persons cited in the source with persons already in the database</div>

  <div class="info p2p">
     <input value="John Smith"/> (above) is the same as <input value="John D. Smith (23)"/>
     because <input value="Some reasoning"/>
     <span class="surety" _scheme="1" _order="2"></span>
  </div>

  <div class="info p2p">
     <input value="Mary Clyde"/> (above) is the same as <input value="Mary Clyde (262)"/>
     because <input value="Some reasoning"/>
     <span class="surety" _scheme="1" _order="2"></span>
  </div>

  <div class="info p2p disproved">
     <input value="Mary Clyde"/> (above) is <b>not</b> the same as <input value="Mary Clyde (26)"/>
     because <input value="the second one was already dead on 1900-01-01"/>
     <span class="surety" _scheme="1" _order="2"></span>
  </div>


  <div class="info event">
     A <select><option selected>Death</option></select>
     took place <input value="before 1900-01-01"/> in <input value=""/>
     because <input value="John Smith was orphan at his marriage"/>
     <span class="surety" _scheme="1" _order="3"></span>
     <br>
     <input value="Paul Smith (892)"/> was a <select><option selected>principal</option></select> at this event.
     <span class="surety" _scheme="1" _order="1"></span>
  </div>

  {# ----- Generated ------ #}

  <h3>Information (generated)</h3>
  <div class="onUse">Same as the above, just a test that Geneapro can actually generate that info</div>
  <div class="containers">
     {% for a in s.asserts %}

     <div class="info
        {% if a.subject2.0 == 0 %}  {# Persona #}
      p2p
        {% elif a.subject2.0 == 1 %}  {# Event #}
      event
        {% elif a.subject2.0 == 2 %}  {# Characteristic #}
      attr
        {% endif %}

        {% if a.disproved %}
      disproved
        {% endif %}
     "/>

        {% if a.subject2.0 == 0 %}  {# Persona #}
        <input value="{{a.subject1.1.name}} ({{a.subject1.1.id}})"/> (above)
        is the same as <input value="{{a.subject2.name}} ({{a.subject1.id}})"/>

        {% elif a.subject2.0 == 1 %}  {# Event #}
        A <select><option selected>{{a.subject2.1.type.name}}</option></select>
        took place <input value="{{a.date|default:""}}"/>
        in <input value="{{a.place|default:""}}">
        <span class="surety" _scheme="1" _order="3"></span>
        <br>
        <input value="{{a.subject1.1.name}} ({{a.subject1.1.id}})"/> was a
        <select><option selected>{{a.subject2.2}}</option></select> at this event.

        {% elif a.subject2.0 == 2 %}  {# Characteristic #}
        <input value="{{a.subject1.1.name}} ({{a.subject1.1.id}})"/>
        <select>
           <option selected>{{a.subject2.1.name}}</option>
        </select>
        was
             {% for pname, pval in a.subject2.2 %}
             <span class="char">{{pname}}</span>: {{pval}}<br>
             {% endfor %}
        on <input value="{{a.date|default:""}}"/>

        {% endif %}

        {% if a.rationale %}
        because <input value="{{a.rationale|default:""}}"/>
        {% endif %}

        <span class="surety" _scheme="{{a.surety.scheme_id}}" _order="{{a.surety.sequence_number}}"></span>
        <div class="buttons">
           <input type="button" value="+">
           <input type="button" value="-">
        </div>
     </div>  {# containers #}
     {% endfor %}
  </div>
</div> {# sourceDetails #}
{% endblock contents %}
{% block script %}
$(document).ready(function(){
   var gallery = new Gallery($("#sourceGallery"), 400);
   var dp = new DragPane($('div.scrollable img')[0]);

   var schemes = {
   {% for i, s in schemes.items %}
     {{i}}: [
     {% for p in s %}
        '{{p.name}}',
     {% endfor %}
     ],
   {% endfor %}
   };

   $("#sourceCitation .arrow").click(function() {
      var b = $(this);
      if (b.hasClass("open")) {
         b.removeClass("open").siblings(".details").slideUp();
      } else {
         b.addClass("open").siblings(".details").slideDown();
      }
   });

   function toggleZoomed() {
      var w = $('#pane1').width();
      var h = $('#pane1').height();
      $('.scrollable').width(w).height(h);
      update();
      $('#pane1 > *').toggle();
   }

   function update() {
      var id = $(gallery.getCurrent()).attr("_id");
      dp.setAutoScale(true);
      dp.setsrc('/repr/full/' + id);
   }

   $("#sourceGallery").dblclick(toggleZoomed);
   $("#viewRepr").click(toggleZoomed);
   $("#grayscaleButton").click(function() { dp.grayscale() });
   $("#edgesButton").click(function() { dp.edgeDetect() });
   $("#invertButton").click(function() { dp.invert() });
   $("#noiseButton").click(function() { dp.removeNoise() });
   $("#showAllRepr").click(function() { toggleZoomed() });
   $("#previousRepr").click(function() { gallery.previous(); update() });
   $("#nextRepr").click(function() { gallery.next(); update() });

   $(".surety").each(function() {
      var $t=$(this), val=$t.attr("_order"), s=$t.attr("_scheme");
      $t.empty().raty({
         path:'{{MEDIA_URL}}raty_img/',
         number:schemes[s].length,
         hintList: schemes[s],
         start:val,
         cancel:true,
         cancelHint:'Unknown surety',
         readOnly:true,
      })
   });
});
{% endblock script %}
