{% extends "geneapro/base.html" %}
{% block title %}GeneaPro: statistics{% endblock %}

{% block header %}
<script type="text/javascript" src="{{MEDIA_URL}}/jquery.flot.0.6.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/jquery.flot.stack.min.js"></script>
{% endblock header %}

{% block css %}
#genLegend table {width:100% }
#genLegend td {text-align:left}
.legendLabel i {float:right; margin-right:3px}
.legendLabel span {font-size:smaller}
{% endblock css %}

{% block contents %}
<div>
 <h2>Statistics</h2>
 Number of persons in the tree: {{total_ancestors}}<br>
 Number of persons in father's tree: {{total_father}}<br>
 Number of persons in mother's tree: {{total_mother}}<br>

 <!--
 For whole population, for males only, for females only
 Includes population count, average, deviance, min, max, 
 Age at first marriage:
 Age at first child:
 Age at last child:
 Age at death:
 #Name tags:
 #Birth group tags:
 #Death group tags:
 #Marriage group tags:
 #Divorce group tags:
 #Child tags:
    Sons:
    Daughters:
    -->

 <h2>Generations timespan (oldest birth - latest death)</h2>
 <div id="generations" style="height:350px"></div>
 <div id="genLegend"></div>

 <h2>Lifespan age distribution (persons in the tree, only)</h2>
 <div id="lifespan" style="height:150px"></div>

</div>
{% endblock contents %}

{% block script %}
males = {label:"males",data:[{% for age,m,_,_ in ages %}[{{age}},{{m}}],{% endfor %}]};
females = {label:"females",data:[{% for age,_,f,_ in ages %}[{{age}},{{f}}],{% endfor %}]};
unknowns = {label:"unknowns",data:[{% for age,_,_,u in ages %}[{{age}},{{u}}],{% endfor %}]};
ranges= [{% for gen,min,max,legend in ranges %}
  {label:"{{legend}}",data: [[{{min}},{{gen}}],[{{max}},{{gen}}]]},{% endfor %}];
function labelFormatter (label,series) {
   var s = label.split (/(\([^\)]+\))/), result="";
   label = "<b>" + s[0] + "</b><span>" + s[1] + "</span>" + s[2] + "<i>" + s[3] + "</i>";
  return label;
}
$(document).ready (function() {
  $.plot ('#lifespan', [males,females,unknowns],
      {series:{stack:true,bars:{show:true, barWidth:5}}});
  $.plot ('#generations', ranges,
      {legend:{show:true,container:"#genLegend",
               noColumns:3, labelFormatter:labelFormatter},
       series:{lines:{show:true,lineWidth:9}}});
});
{% endblock script %}



