.Assertion {
   border-top: 2px solid green;
}
.Assertion + .Assertion {
   margin-top: 20px;
}
.Assertion.disproved {
   text-decoration: line-through;
}
.Assertion .ui.segment {
   padding-left: 0;
}

.Assertion .ui.attached.segment+div+.ui.attached.segment {
	border-top: 0;
}

.Assertion .role {
	position: absolute;
	z-index: 1000;
	width: 100%;
	text-align: left;
	margin-top: -0.9em;
	font-size: 0.8em;
}
.Assertion .role > span {
	margin-left: 10px;
	background: white;
	padding: 0 5px;
   color: #999;
   font-weight: normal;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.Assertion .expander {
   float: left;
   height: 100%;
   cursor: pointer;
}

.Assertion .ui.segment.details {
	margin-left: 20px;
	width: calc(100% - 19px);
	background-color: #f9f9f9;
	padding: 3px 3px;
}

.Assertion .assertionTitle > div {
   margin-left: 20px;
   display: flex;
}
.Assertion .dateAndTag {
   flex-shrink: 0;
   font-size: 0.9em;
   font-weight: bold;
   margin-right: 10px;
   min-width: 10px;
   text-align: left;
   white-space: nowrap;
}
.Assertion .nameAndPlace {
   flex-grow: 1;
   flex-shrink: 1;
   overflow-x: auto;
}
.Assertion .nameAndPlace.bordered {
   border-left: 1px solid #ccc;
   padding-left: 5px;
}
.Assertion .right {
   float: right;
   text-align: right;
   font-size: 0.7em;
}
.Assertion .right .sourceLink {
   margin-left: 10px;
}
.Assertion .researcher {
   font-size: 0.7em;
}

.Assertion .eventDetails {
   width: 100%;
   font-size: 0.8em;
   border: 1px solid #ddd;
   margin-left: 20px;
}
