.Assertion.ui.segment {
   padding: 5px 5px;
}

.Assertion .expander {
   float: left;
   height: 100%;
   cursor: pointer;
}

.Assertion .assertionTitle {
   margin-left: 20px;
   display: flex;
}
.Assertion .dateAndTag {
   text-align: left;
   min-width: 10px;
   margin-right: 10px;
   font-weight: bold;
   font-size: 0.9em;

}
.Assertion .nameAndPlace {
   flex-grow: 1;
}
.Assertion .nameAndPlace.bordered {
   border-left: 1px solid #ccc;
   padding-left: 5px;
}
.Assertion .rating {
}

.Assertion .details {
   margin-left: 30px;
}

.Assertion .place {
   font-style: italic;
}

.Assertion .type {
   font-weight: bold;
   margin-right: 5px;
}

.Assertion .role {
   color: #999;
   font-weight: normal;
}

.Assertion .rationale {
   padding-left: 30px;
}

