* {margin:0; padding:0}
select {min-width:1.5em}  /* http://leftjustified.net/journal/2004/10/19/global-ws-reset/*/

/* Tips from http://www.smashingmagazine.com/2007/05/10/70-expert-ideas-for-better-css-coding */
html {height:100.01%}  /* avoid various browser errors */
body {font-size:14px; font-family:Arial,Helvetica;,clean,sans-serif; }

body { background-color: #EEE}

.dateselect {border:1px solid #999}
.dateselect td.label {text-align:right; font-weight:bold}
.dateselect td {text-align:left}
.dateselect input,
.dateselect select {border:1px solid #aaa}
.dateselect input {width:100%}
.dateselect input[name="date1"],
.dateselect input[name="duration"],
.dateselect input[name="date2"]  {width:7em}
.dateselect .full td {border-bottom: 1px dashed #999; padding-bottom:15px}
.dateselect td.left {text-align:left}

.sourceView { margin:10px;
         height:600px;
             border:1px solid #999; position:relative; overflow:hidden}
.mediaView  {min-width:800px; height:48%;overflow:auto}

.handle {height:4px; width:100%;
         background:#c3c5c4 url(handle_bg.png) no-repeat center center;
         border-top:1px solid #999;
         border-bottom:1px solid #999; margin-top:8px}

#rightside {position:fixed; right:10px; top:10px; height:auto;
            background-color:white}
#clipboard {border:1px solid #ddd; overflow:auto; height:500px; width:170px}
#clipboard h2 img {width:16px; height:16px; float:left; margin:0 10px 0 0}
#clipboard li {line-height:1.5em}

h1 {margin:20px 0 20px 0; font-size:x-large}
h2 {background-color:#ECF2F9;
    margin-bottom:15px;
    border-top:1px solid #CAD4DE;
    border-bottom:1px solid #CAD4DE;
    padding: 2px 0 2px 15px;
    font-weight:bold; font-size:13px}

.buttons span {font-style:italic; margin-left:10px; color:#BBB}

.repositoryInfo {float:right; background-color:#F5F5F5; margin-right:10px;
          padding:10px; border:1px solid #ddd}
.repositoryInfo h3 {margin:0 0 10px 0}
.repositoryInfo select,
.repositoryInfo textarea,
.repositoryInfo input {width:250px}

.sourceDetails select,
.sourceDetails textarea,
.sourceDetails input {width:250px}
.sourceDetails th {
   text-align:right;
   padding-right:10px;
}

.char {
  font-style:italic;
  font-size:0.9em;
  color:#AAA;
}

td.surety {
   white-space:nowrap;
}
td.persona {
   font-style:italic;
   font-size:0.9em;
   color:#AAA;
   cursor: pointer;
}
td.persona:before {
   content:"id ";
}

.containers table.persona td[_url] {
   padding-left: 20px;
}
.containers table.persona tr:hover td[_url] {
   position:relative;
   left:-15px;
}
.containers table.persona tr:hover td[_url].open:before {
   content:"\25BC";
   font-size:10px;
   position:relative;
   float:left;
   left:-15px;
}
.containers table.persona tr:hover td[_url].closed:before {
   content:"\25B6";
   font-size:10px;
   float:left;
   position:relative;
   left:-15px;
}
.containers table.persona td.type {
   /*text-transform:capitalize;*/
   white-space:nowrap;
   font-weight:bold;
   color:#AAA;
}
.containers table.persona span.role {
   font-size: smaller;
   font-weight:normal;
}

.containers table.persona .source {
   font-size:smaller;
   vertical-align: super;
}
.dataTables_filter input {
   -moz-border-radius: 6px; /* FF1+ */
   -webkit-border-radius: 6px; /* Saf3-4 */
   border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome */
   margin-top:2px;
   margin-right: 2px;
}
.containers [_persona].highlighted {
   background-color: #DDD;
}

.containers td.extra {
   /*background-image: -moz-linear-gradient(top, #39414A, #777);*/
   /*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #39414A),color-stop(1, #777));   */
   /*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #777),color-stop(1, #EEE));   */
   /*background-image: linear-gradient(top, #39414A, #777);*/
   background-color:white;
}
.containers td.extra > div {
   color:black;
   margin:0 10px 10px 10px;
   border-right:1px solid #AAA;
   border-left:1px solid #AAA;
   border-bottom:1px solid #AAA;
   background-color:#EEE;
}
.containers td.extra > div td {
   text-align:center;
}

.containers td.closed span,
.containers td.open span {
   visibility:hidden;
}
.containers tr:hover td.closed span,
.containers tr:hover td.open span {
   visibility:visible;
}

.sourceInfo {width:64em}
.sourcepartDetails {margin-bottom:30px}

.sourcepart h3 {margin:10px 0; padding-left:10px; }
.sourcepartData {border-bottom:1px dotted #999}
tr.disproved {text-decoration:line-through}

.actions {color:#CAD4DE; float:right; padding:2px 10px 5px 10px;
          line-height:1.22em}
.actions a {font-weight:bold; font-size:10px}

.onUse {font-size:0.9em; color: #999; font-style:italic}

a {color:#16B; text-decoration:none; cursor:pointer}

.person, .place   {padding-left:2em; width:18em!important}

.sourceNotes ul, .sourceActions ul {margin-left:30px}
.sourceNotes li, .sourceActions li {margin-bottom:20px}

.tooltip {padding: 2px; font-size: small; z-index: 100000;
          border-left: 1px solid black;
          border-top: 1px solid black;
          border-bottom: 2px solid black;
          border-right: 2px solid black;
          background:#ECF397}
.tooltip ul {margin:0; padding-left:20px}

div.scrollable {
   margin:0 10px 10px 0;
}
div.scrollable img,
div.scrollable canvas {
   height:50%;
   width:100%;
   min-height:400px;
   border:1px solid black;
   -moz-box-shadow: 3px 3px 5px black; /* FF3.5+ */
   -webkit-box-shadow: 3px 3px 5px black; /* Saf3.0+, Chrome */
   box-shadow: 3px 3px 5px black; /* Opera 10.5, IE9 */
}

.throbber {filter:alpha(opacity=30); opacity:0.3;
           cursor:wait; display:inline; position:absolute;
           background-color:#EEE; background-repeat:no-repeat;
           background-position:center center}

/**********************************************
 * Header
 **********************************************/

#head {
   padding:0 0 0 5px; margin:0;
}

#head > a {
   text-decoration:none;
   display:block;
   font-size:25px;
   color: #ec8d05;
   font-style:italic;
   text-shadow: black 3px 3px 7px;
}
#head .tagline{font-size:9px; color:white; font-style:italic;
               margin:-8px 0 8px 23px; text-shadow: black 1px 1px 2px}

/**********************************************
 * Leftside box
 **********************************************/

#sidebar {
   width:140px;
   position: absolute;
   top: 10px;
   left: 10px;

   background-image: -moz-linear-gradient(top, #777, white);
   background-image: linear-gradient(top, #777, white);
   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #777),color-stop(1, white));

   -moz-box-shadow: 2px 2px 2px black; /* FF3.5+ */
   -webkit-box-shadow: 2px 2px 2px black; /* Saf3.0+, Chrome */
   box-shadow: 2px 2px 2px black; /* Opera 10.5, IE9 */

   -moz-border-radius: 4px; /* FF1+ */
   -webkit-border-radius: 4px; /* Saf3-4 */
   border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome */
}
#sidebar h2 {
   color:black;
   font-weight:normal;
   font-size:16px;
   padding: 0 5px;
   clear:both;
   margin: 0;
}
#sidebar a {
    text-decoration:none;
    white-space:nowrap;
}
#sidebar img {
   width: 30px;
   height: 30px;
   margin: 5px;
   float:left;
}
#sidebar button,
#sidebar input {
  padding: 5px;
}

#sidebar h2.settings {
   margin-top: 20px;
   font-size: 12px;
}

#sidebar .bottom {
   clear: both;
   margin-top: 20px;
}

#settings {font-size: 0.8em}
#settings .ui-slider-horizontal {height: 0.2em; margin: 5px 3px 0 10px}
#settings .ui-slider .ui-slider-handle {height:0.6em}
#settings .ui-slider span {font-size:0.8em; margin-top:7px; float: left; position:relative; top:-2px}
#settings .ui-slider span.right {float:right}
#settings .config {
   padding-top: 2px;
   white-space: nowrap;
   clear: both;
}
#settings .config:hover > span:first-child{
   color: #ec8d05;
}
#settings .config > span:first-child {  /* Labels */
   float: left;
}
#settings .config > div.ui-slider {   /* Sliders */
   clear:both;
   top: 5px;
   margin-bottom: 8px;
}
#settings .config input,
#settings .config select {
   float: right;
}

#decujusName {
   font-style: italic;
   display: block;
   text-align: center;
   font-size: 0.9em;
}

/**********************************************
 * Rounded corners (see http://css3please.com/)
 **********************************************/

.box_round {
     -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3-4 */
          border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome */
}
.box_shadow {
     -moz-box-shadow: 3px 3px 5px black; /* FF3.5+ */
  -webkit-box-shadow: 3px 3px 5px black; /* Saf3.0+, Chrome */
          box-shadow: 3px 3px 5px black; /* Opera 10.5, IE9 */
}
.box_gradient {
  background-color: #888;
  background-image: -moz-linear-gradient(top, #888, #EEE); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #888),color-stop(1, #EEE)); /* Saf4+, Chrome */
  background-image: linear-gradient(top, #888, #EEE);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#888', EndColorStr='#EEE'); /* IE6–IE9 */
}

/**********************************************
 * Prevents user selection highlighting
 **********************************************/

.noselect {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
}

/**********************************************
 * Contents
 **********************************************/

#contents {
   position:absolute;
   right:10px;
   left: 160px;  /* #sidebar'width */
   top: 10px;  /* #sidebar'top */
   bottom:10px;
   padding:0;

}
#contents canvas.graph {
   z-index:100;
   width:100%;
   height:100%;
}

/***********************************************
 * Legend
 ***********************************************/

.legend {
   position:absolute;
   left:160px; /* #sidebar'width */
   z-index:100;
   padding:5px;
   border: 1px solid #ccc;

   width:250px;
   width: -moz-max-content;
   
   overflow-y: auto;
   top:0;
}

#legendButton {
   margin-top:20px;
}

/*************************************************
 * Titles
 *************************************************/

#titleAbbrev {font-size:x-large; margin-left: 20px; font-style:italic}

#title {
   /*border-top: 1px solid black;*/
   border-bottom: 2px solid black;
   font-size:1.8em;
   margin:15px 0 30px 30px;
   padding: 0 0 4px 0;
   width:900px; /* .containers'width */
}

#title span.details {
   margin-left: 30px;
   font-weight: normal;
}
#title span.givenName {
}
#title span.surName {
   /*font-size:1.2em;*/
}

#title span.id   {
   color:#AAA;
   margin-right:20px;
   font-size:0.8em;
   font-style:italic;
}
