* {margin:0; padding:0}
select {min-width:1.5em}  /* http://leftjustified.net/journal/2004/10/19/global-ws-reset/*/

/* Tips from http://www.smashingmagazine.com/2007/05/10/70-expert-ideas-for-better-css-coding */
html {height:100.01%}  /* avoid various browser errors */
body {font-size:14px; font-family:Arial,Helvetica;,clean,sans-serif; }

.dateselect {border:1px solid #999}
.dateselect td.label {text-align:right; font-weight:bold}
.dateselect td {text-align:left}
.dateselect input,
.dateselect select {border:1px solid #aaa}
.dateselect input {width:100%}
.dateselect input[name="date1"],
.dateselect input[name="duration"],
.dateselect input[name="date2"]  {width:7em}
.dateselect .full td {border-bottom: 1px dashed #999; padding-bottom:15px}
.dateselect td.left {text-align:left}

.sourceView { margin:10px;
         height:600px;
             border:1px solid #999; position:relative; overflow:hidden}
.mediaView  {min-width:800px; height:48%;overflow:auto}

.handle {height:4px; width:100%;
         background:#c3c5c4 url(handle_bg.png) no-repeat center center;
         border-top:1px solid #999;
         border-bottom:1px solid #999; margin-top:8px}

#rightside {position:fixed; right:10px; top:10px; height:auto;
            background-color:white}
#clipboard {border:1px solid #ddd; overflow:auto; height:500px; width:170px}
#clipboard h2 img {width:16px; height:16px; float:left; margin:0 10px 0 0}
#clipboard li {line-height:1.5em}

h1 {margin:20px 0 20px 0; font-size:x-large}
#titleAbbrev {font-size:x-large; margin-left: 20px; font-style:italic}
h2 {background-color:#ECF2F9;
    margin-bottom:15px;
    border-top:1px solid #CAD4DE;
    border-bottom:1px solid #CAD4DE;
    padding: 2px 0 2px 15px;
    font-weight:bold; font-size:13px}

.buttons span {font-style:italic; margin-left:10px; color:#BBB}

.repositoryInfo {float:right; background-color:#F5F5F5; margin-right:10px;
          padding:10px; border:1px solid #ddd}
.repositoryInfo h3 {margin:0 0 10px 0}
.repositoryInfo select,
.repositoryInfo textarea,
.repositoryInfo input {width:250px}

.sourceDetails select,
.sourceDetails textarea,
.sourceDetails input {width:250px}
.sourceDetails th {
   text-align:right;
   padding-right:10px;
}

.char {
  font-style:italic;
  font-size:0.9em;
  color:#AAA;
}

.assert span.surety,

td.persona {
   font-style:italic;
   font-size:0.9em;
   color:#AAA;
}
td.persona:before {
   content:"id ";
}

#containers table.persona td:first-child {
   /*background-image: url(/media/advanced_arrow.gif);*/
   /*background: transparent none no-repeat 2px 0px;*/
   width:10px;
   font-size:0.7em;
   text-align:center;
   color:#16B;
}
#containers table.persona td.open:before {
   content:"\25BC";
}
#containers table.persona td.closed:before {
   /*a:before {*/
   content:"\25B6";
}

#containers table.persona tr > td:nth-child(2) {
   text-transform:capitalize;
   font-weight:bold;
   color:#AAA;
}

#containers td.extra {
   /*background-image: -moz-linear-gradient(top, #39414A, #777);*/
   /*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #39414A),color-stop(1, #777));   */
   /*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #777),color-stop(1, #EEE));   */
   /*background-image: linear-gradient(top, #39414A, #777);*/
   background-color:#EEE;
}
#containers td.extra div {
   color:black;
   min-height:50px;
   margin:0;
}


.sourceInfo {width:64em}
.sourcepartDetails {margin-bottom:30px}

.sourcepart h3 {margin:10px 0; padding-left:10px; }
.sourcepartData {border-bottom:1px dotted #999}
.sourcepartData tr.disproved {text-decoration:line-through}

.actions {color:#CAD4DE; float:right; padding:2px 10px 5px 10px;
          line-height:1.22em}
.actions a {font-weight:bold; font-size:10px}

.onUse {font-size:10px; color: #999; font-style:italic}

a {color:#16B; text-decoration:none; cursor:pointer}

.person, .place   {padding-left:2em; width:18em!important}

.sourceNotes ul, .sourceActions ul {margin-left:30px}
.sourceNotes li, .sourceActions li {margin-bottom:20px}

.design {position:absolute;right:0; width:300px; background-color:#555; color:white}

.tooltip {padding: 2px; font-size: small; z-index: 100000;
          border-left: 1px solid black;
          border-top: 1px solid black;
          border-bottom: 2px solid black;
          border-right: 2px solid black;
          background:#ECF397}
.tooltip ul {margin:0; padding-left:20px}

div.scrollable {
   margin:0 10px 10px 0;
}
div.scrollable img,
div.scrollable canvas {
   height:50%;
   width:100%;
   min-height:400px;
   border:1px solid black;
   -moz-box-shadow: 3px 3px 5px black; /* FF3.5+ */
   -webkit-box-shadow: 3px 3px 5px black; /* Saf3.0+, Chrome */
   box-shadow: 3px 3px 5px black; /* Opera 10.5, IE9 */
}

.throbber {filter:alpha(opacity=30); opacity:0.3;
           cursor:wait; display:inline; position:absolute;
           background-color:#EEE; background-repeat:no-repeat;
           background-position:center center}

/**********************************************
 * Header
 **********************************************/

#head {
   background-color:#39414A;
   padding:0 0 0 30px; margin:0;
   height:90px; /* taller then logo, because the #roundedContents is
                   displayed on top to provided the rounded corner */
   background-image: -moz-linear-gradient(top, #39414A, #777);
   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #39414A),color-stop(1, #777));   
   background-image: linear-gradient(top, #39414A, #777);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#39414A', EndColorStr='#777');
}

#head > a {
   text-decoration:none;
   display:block;
   font-size:52px;
   color: #ec8d05;
   font-style:italic;
   text-shadow: black 3px 3px 7px;
}
#head .tagline{font-size:14px; color:white; font-style:italic;
               margin:-12px 0 0 63px; text-shadow: black 1px 1px 2px}

/**********************************************
 * Leftside box
 **********************************************/

#body {
   margin:0;
   padding:0;
   height:900px;  /* page height, for some reason 100% does not work */
   width:100%;
}

#sidebar {
   width:160px;
   height:100%;
   float:left;

   background-image: -moz-linear-gradient(top, #777, white);
   background-image: linear-gradient(top, #777/*from #head*/, white);
   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #777),color-stop(1, white));   
}
#collapseSidebar {
   background:transparent;
   position:absolute;
   left:150px;  /* #sidebar'width - #collapseSidebar'width */
   width:10px;
   height:100%;
}
#collapseSidebar:hover {
   /* If we want a collapsible sidebar, we should show this when mouse is
    * hover, and have a callback */
   /*background:red;*/
}
#sidebarMenu h2 {
   margin:5px 5px 0 5px;
   padding:3px 3px 3px 8px;
   color:black;
   background:#ec8d05;
   font-weight:normal;
   font-size:16px;
   border:1px solid #39414A;

   -moz-box-shadow: 2px 2px 2px black; /* FF3.5+ */
   -webkit-box-shadow: 2px 2px 2px black; /* Saf3.0+, Chrome */
   box-shadow: 2px 2px 2px black; /* Opera 10.5, IE9 */

   -moz-border-radius: 12px; /* FF1+ */
   -webkit-border-radius: 12px; /* Saf3-4 */
   border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome */
}
#sidebarMenu h2.selected {background:#39414A}
#sidebarMenu h2 a {
   text-decoration:none;
   color:black; /* #sidebar h2'color */
   white-space:nowrap;
   display:inline-block; width:100%}
#sidebarMenu h2 a:hover,
#sidebarMenu li a:hover {color:white}
#sidebarMenu ul {list-style:none; margin:8px 0 10px 20px; padding:0}
#sidebarMenu li {width:100%}
#sidebarMenu li a {text-decoration:none; color:black; white-space:nowrap;
   width:100%; display:inline-block}
#sidebarMenu li a:before {content:"\00BB"; padding-right:5px}

/**********************************************
 * Rounded corners (see http://css3please.com/)
 **********************************************/

.box_round {
     -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3-4 */
          border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome */
}
.box_shadow {
     -moz-box-shadow: 3px 3px 5px black; /* FF3.5+ */
  -webkit-box-shadow: 3px 3px 5px black; /* Saf3.0+, Chrome */
          box-shadow: 3px 3px 5px black; /* Opera 10.5, IE9 */
}
.box_gradient {
  background-color: #888;
  background-image: -moz-linear-gradient(top, #888, #EEE); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #888),color-stop(1, #EEE)); /* Saf4+, Chrome */
  background-image: linear-gradient(top, #888, #EEE);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#888', EndColorStr='#EEE'); /* IE6–IE9 */
}

/**********************************************
 * Prevents user selection highlighting
 **********************************************/

.noselect {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
}

/**********************************************
 * Contents
 **********************************************/

#roundedContents {
   border-top-left-radius: 25px;
   -moz-border-radius-topleft: 25px; /* FF1+ */

   height:10px;
   background:white; /* color background for the whole page */
   position:relative;
   top:-20px; /* for some reason: = -(#roundedContents'height + 10) */
   padding: 5px 30px;
}
#bodyMain {
   height:100%;

   /* Using absolute positioning here requires knowing various dimensions
    * for proper placement. This creates an issue if we made #sidebar
    * resizable. It would be nicer to use "float:left", but then we do not
    * use the full remaining with of the page, up to the right margin.
    * Setting "width:100%" puts #bodyMain below #sidebar */

   /*float:left;  /* on the right of #sidebar */

   /* Another approach is not to use floating or absolute positioning,
    * just a margin the right size. This fails because the contents of the
    * tabs have a "clear" and thus go below the #sidebar (we should have
    * another layout context) */

   /*margin-left:160px; /* #sidebar'width + #sidebar'border-right */

   /* Absolute positioning works, but requires knowing the various sizes
    * for proper layout. Thus collapsing the sidebar requires changing the
    * sizes here too */

   position:absolute; /* on the right of #sidebar */
   left:160px;        /* #sidebar'width + #sidebar'border-right */
   right:0;
   bottom:0;
   top:90px;  /* #head'height */
}
#contents {
   position:relative;
   top:-20px;  /* #roundedContents'top */
   padding:0;
   margin:0;
   width:100%;
   height:100%;
}
#contents canvas.graph {
   z-index:100;
   width:100%;
   height:100%;
   /*left:0; right:0; top:0; bottom:0;*/
}

/***********************************************
 * Legend
 ***********************************************/

.legend {
   position:absolute;
   left:160px; /* #sidebar'width */
   bottom:5px;
   z-index:100;
   padding:5px;
   border: 1px solid #ccc;
}

#legendButton {
   margin-top:20px;
}

/*************************************************
 * Titles
 *************************************************/

#title {
   border-top: 1px solid black;
   border-bottom: 2px solid black;
   margin:15px 0 10px 30px;
   padding: 8px 0;
   width:900px; /* #containers'width */
}

#title span.details {
   margin-left: 30px;
   font-weight: normal;
}
#title span.givenName {
}
#title span.surName {
   font-size:1.2em;
}

#title span.id   {
   color:#AAA;
   margin-right:20px;
   font-size:0.8em;
   font-style:italic;
}

/***************************************************
 * Tabs and canvas
 * Do not hide the invisible tabs, otherwise size computation is wrong and
 * the canvas will be distorted. Instead, put them some other place.
 * See http://jqueryui.com/demos/tabs/#...my_slider.2C_Google_Map.2C_sIFR_etc._not_work_when_placed_in_a_hidden_.28inactive.29_tab.3F
 ***************************************************/

.ui-tabs .ui-tabs-hide {
  position: absolute;
  left: -10000px;
}
