a.link {
   color: var(--link-color);
}
.link .id {
   font-size: 0.7em;
   font-style: italic;
   vertical-align: super;
   margin-left: 2px;
   display: inline-block;
}

.link .notitle {
   margin-left: -5px;   /* compensate for the id's margin-left */
}

a:hover,
.link:hover {
   text-decoration: underline;
}
