.Source {
   max-width: 1100px;
}

.Source .pageTitle {
   background: var(--page-title-background);
   font-size: 1.4em;
   line-height: 1.6em;
   white-space: nowrap;
   color: var(--page-title-color);
   font-family: serif;
}

.Source .pageContent .content {
   background: var(--card-background);
}
