.Stats.card.fluid {
   max-width: 1100px;
}

.Stats .generationsLegend {
   text-size: 0.8em;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

.Stats .generationsLegend > div {
   flex-basis: 33%;
}

.Stats .generationsLegend span {
   display: inline-block;
   margin: 2px;
   width: 20px;
   height: 10px;
}

.Stats .grid path {
   stroke-width: 0
}

.Stats .axis path,
.Stats .axis .tick {
   fill: none;
   shape-rendering: crispEdges;
   stroke: var(--axis-color);
}
.Stats .axis .tick text {
   fill: var(--axis-color);
   stroke: none;
}

.Stats .grid line {
   stroke: var(--grid-color);
}

