body {
   --top-menu-height: 50px;  /* Height of the top menu bar */
   --height-margin: 10px;    /* height of <body> - height of <app> */
   --pagegrid-top: 5px;  /* extra margin between navbar and page */

   /* height of main elements */
   --main-height: calc(100vh
                       - var(--pagegrid-top)
                       - var(--top-menu-height)
                       - var(--height-margin));

   /* background of canvases */
   --canvas-bg: white;
   --canvas-text: white;

}

.ui.grid.pagegrid {
   padding-top: var(--pagegrid-top);
}

.Side {
   height: var(--main-height);
   overflow-y: auto;
}

.Side .settings small {
   display: block;
   margin-left: 20px;
}

.Side .settings .active small {
   display: none;
}

svg {
   width: 100%;
   height: var(--main-height);
   background: var(--canvas-bg);
}

.List {
   display: flex;
   flex-direction: column;
}

.List.fullHeight {
   height: var(--main-height);
}

.preLine {
   white-space: pre-line !important;
}

/* Workaround bug in semantic-ui: an icon 'list' results in extra
 * indentation.
 * https://github.com/Semantic-Org/Semantic-UI/issues/5499
 */
.ui.list i.icon.list,
.ui.list i.icon.image+.content {
   padding-left: 0;
}

.ui.header {
   color: rgb(100,100,100);
}

