/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';


html, body {
   height: 100vh;
}

/**
 * First <h2> in a block should not have a top margin (aligning name of person
 * on the person page
 */

h2:first-child {
   margin-top: 0;
}

/**
 * Set this on a panel-heading when it is clickable to reveal details.
 */
.editable-title {
   cursor: pointer;
   &:before {
      padding-right: 10px;
   }
}

/**
 * Links to some genealogy entity (sources, places,...)
 */
.gpLink {
   color: $text-color;
   text-decoration: none;
   &:hover {
      text-decoration: underline;
   }
}
.gpLinkSuper {  // as a superscript
   text-decoration: inherit;
   color: $link-color;
   vertical-align: super;
   font-size: 0.7em;
   &:before {
      margin-right: 0px;
   }
}

/**
 * Assertions
 */
.disproved {
   text-decoration: line-through;
}

/**
 * Researched by
 */
.researchedBy {
   float: right;
   font-size: 0.8em;
   font-style: italic;
   margin-left: 10px;
}


@import "sass/_diagrams.scss";
@import "sass/_uploads.scss";
@import "sass/_float_labels.scss";
@import "sass/_panels.scss";
@import "sass/_rating.scss";
@import "sass/_slider.scss";
@import "sass/_tables.scss";
@import "sass/_media.scss";
@import "sass/_asserts.scss";
@import "sass/_modal.scss";
@import "sass/_import.scss";
@import "sass/menubar.button.scss";
