<div class='assertSubject' ng-class='{edited:assert.$edited}'>
   <select ng-if='assert.$edited' ng-model='sub.info' ng-options='s as s.name group by s.group for s in validTypes | orderBy:"name"'>
   </select>

   <div ng-switch='sub.info.kind'>
      <!-- A person -->
      <span ng-switch-when='1'>
         <span persona-link="sub.s.person.id" name="sub.s.person.name"></span>
      </span>
   
      <!-- An event -->
      <span ng-switch-when='2'>
         <div>
            {{sub.s.event.name || sub.s.event.type.name}}
            <span ng-if="sub.s.role!='principal'" class="role"> (as {{sub.s.role || ""}})</span>
         </div>
         <span time-link="sub.s.event.date_sort" name="sub.s.event.date" style="margin-right:10px"></span>
         <span place-link="sub.s.event.place.id" name="sub.s.event.place.name"></span>
      </span>
   
      <!-- A characteristic -->
      <span ng-switch-when='3'>
         <div ng-if="sub.s.parts.length == 1">{{sub.s.char.name}} : {{sub.s.parts[0].value}}</div>
         <div ng-if="sub.s.parts.length != 1">
            {{sub.s.char.name}}
            <span ng-repeat="p in sub.s.parts">
               <span class="char">{{p.name}}</span>: {{p.value}}
               <br>
            </span>
         </div>
         <span time-link="sub.s.char.date_sort" name="sub.s.char.date" style="margin-right:10px"></span>
         <span place-link="sub.s.char.place.id" name="sub.s.char.place.name"></span>
      </span>
   
      <!-- A group -->
      <span ng-switch-when='4'>
         <div>
            {{sub.s.group.name}} (as {{sub.s.role}})
         </div>
         <span time-link="sub.s.group.date_sort" name="sub.s.group.date" style="margin-right:10px"></span>
         <span place-link="sub.s.group.place.id" name="sub.s.group.place.name"></span>
      </span>
   
      <!-- Unknown -->
      <span ng-switch-default>???</span>
   
   </div>
</div>
