<div class='assertSubject'>
   <select ng-if='edited' ng-model='sub.$subjectType' ng-options='s.id as s.name for s in validTypes'>
   </select>

   <div ng-switch='sub.$subjectType' ng-class='{extraindent: edited}'>
      <!-- A person -->
      <span ng-switch-when='1'>
         <span persona-link="sub.person.id" name="sub.person.name"></span>
      </span>
   
      <!-- An event -->
      <span ng-switch-when='2'>
         <div>
            {{sub.event.name || sub.event.type.name}}
            <span ng-if="sub.role!='principal'" class="role"> (as {{sub.role || ""}})</span>
         </div>
         <span time-link="sub.event.date_sort" name="sub.event.date" style="margin-right:10px"></span>
         <span place-link="sub.event.place.id" name="sub.event.place.name"></span>
      </span>
   
      <!-- A characteristic -->
      <span ng-switch-when='3'>
         <div ng-if="sub.parts.length == 1">{{sub.char.name}} : {{sub.parts[0].value}}</div>
         <div ng-if="sub.parts.length != 1">
            {{sub.char.name}}
            <span ng-repeat="p in sub.parts">
               <span class="char">{{p.name}}</span>: {{p.value}}
               <br>
            </span>
         </div>
         <span time-link="sub.char.date_sort" name="sub.char.date" style="margin-right:10px"></span>
         <span place-link="sub.char.place.id" name="sub.char.place.name"></span>
      </span>
   
      <!-- A group -->
      <span ng-switch-when='4'>
         <div>
            {{sub.group.name}} (as {{sub.role}})
         </div>
         <span time-link="sub.group.date_sort" name="sub.group.date" style="margin-right:10px"></span>
         <span place-link="sub.group.place.id" name="sub.group.place.name"></span>
      </span>
   
      <!-- Unknown -->
      <span ng-switch-default>???</span>
   
   </div>
</div>
