<!DOCTYPE html>
<html ng-app='geneaprove'>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title ng-bind='pageTitle'></title>
   <link rel="stylesheet" href="/static/css/geneaprove.min.css"/>
   <script type="text/javascript" src="/static/js/geneaprove.min.js"></script>
</head>
<body>
   {% csrf_token %}
   <nav class='navbar navbar-default'>
      <div class='container-fluid'>
         <div class='navbar-header hide-if-small'>
            <a href='/' class="navbar-brand logo">
               G&eacute;n&eacute;aprove
               <div class="tagline">Evidence your genealogy</div>
            </a>
         </div>
         <div class='navbar-collapse'>
            <ul class='nav navbar-nav'>
               <li class='group hide-if-small'>File</li>
               <li gp-menubutton='import' title='Import' data-font='fa-folder-open'></li>

               <li class='group hide-if-small'>Lists</li>
               <li gp-menubutton='/personas' title='All persons' data-font='fa-users'></li>
               <li gp-menubutton='/places'   title='All places'  data-font='fa-globe'></li>
               <li gp-menubutton='/sources/list'  title='All sources' data-font='fa-book'></li>

               <li class='group hide-if-small'>Reports</li>
               <li gp-menubutton='/person'   title='Details'  data-font='fa-user'></li>
               <li gp-menubutton='/pedigree' title='Pedigree' data-font='fa-sitemap'></li>
               <li gp-menubutton='/fanchart' title='Fanchart' data-font='fa-wifi'></li>
               <li gp-menubutton='/radial'   title='Radial'   data-font='fa-asterisk'></li>
               <li class='disabled' gp-menubutton='/quilts'   title='Quilts'   data-font='fa-server' data-not-implemented='1'></li>
               <li gp-menubutton='/stats'    title='Stats'    data-font='fa-pie-chart'></li>
            </ul>
            <ul class='nav navbar-nav navbar-right hide-if-small'>
               <li>
                  <label for='addSource' class='sr-only'>Add source</label>
                  <button class='btn btn-primary navbar-btn fa fa-plus' id='addSource' ng-click='$state.go("source_new")' title='Add source'></button>
               </li>
            </ul>
          </div>
      </div>
   </nav>
   <div class='container-fluid' ui-view>
   </div>
</body>
</html>
