<div class='row'>

   <div class='col-md-10 col-lg-9 panel'>
      <div class='graph' gp-pedigree='decujus'></div>
      <div id='contextMenu' class='contextMenu navbar navbar-default'>
         <ul class='nav nav-pills nav-stacked'>
            <li><a ng-click='focusPerson()'>Set as decujus</a></li>
            <li><a ng-click='showPerson()'>Show details</a></li>
         </ul>
      </div>
  </div>

   <div class='col-md-2 col-lg-3 sidebar'>
      <div class='panel panel-default'>
         <div class='panel-heading'>Pedigree</div>
         <div class='panel-body'>
            <ul class='nav nav-pills nav-stacked'>
               <li class='config'>
                  <span>Ancestors</span>
                  <div gp-slider ng-model='$root.settings.pedigree.gens' min='1' max='30'></div>
               </li>
               <li class='config'>
                  <span>Descendants</span>
                  <div gp-slider ng-model='$root.settings.pedigree.descendant_gens' min='1' max='30'></div>
               </li>
               <li class='config'>
                  <span>Sourced events</span>
                  <input type="checkbox" ng-model='$root.settings.sourcedEvents'/>
               </li>
               <li class='config'>
                  <span>Show details</span>
                  <input type="checkbox" title='Whether to show additional details as you zoom in' ng-model='$root.settings.pedigree.showDetails'/>
               </li>
               <li class='config'>
                  <span>Marriages</span>
                  <input type="checkbox" ng-model='$root.settings.pedigree.showMarriages'/>
               </li>
            </ul>
         </div> <!-- panel-body -->
      </div> <!-- panel -->

      <div class='panel panel-default'>
         <div class='panel-heading'>Display</div>
         <div class='panel-body'>
            <ul class='nav nav-pills nav-stacked'>
               <li class='config'>
                  <span>Same size</span>
                  <input type="checkbox" ng-model='$root.settings.pedigree.sameSize'/>
               </li>
               <li class='config'>
                  <span>Colors</span>
                  <select ng-model='$root.settings.pedigree.colorScheme' convert-to-number>
                    <option value="0">Rules</option>
                    <option value="1">Pedigree</option>
                    <option value="2">Generation</option>
                    <option value="3">No box</option>
                    <option value="5">Quartile</option>
                  </select>
                  <span ng-show='$root.settings.pedigree.colorScheme==0' gp-legend></span>
               </li>
               <li class='config'>
                  <span>Appearance</span>
                  <select ng-model='$root.settings.pedigree.appearance' convert-to-number>
                     <option value="0">Flat</option>
                     <option value="1">Gradient</option>
                  </select>
               </li>
               <li class='config'>
                  <span>Layout</span>
                  <select ng-model='$root.settings.pedigree.layoutScheme' convert-to-number>
                     <option value="0">Expanded</option>
                     <option value="1">Compact</option>
                  </select>
               </li>
               <li class='config'>
                  <span>Links</span>
                  <select ng-model='$root.settings.pedigree.linkStyle' convert-to-number>
                     <option value="0">Straight</option>
                     <option value="1">Orthogonal</option>
                     <option value="2">Curves</option>
                  </select>
               </li>
               <li class='config'>
                  <span>Horizontal spacing</span>
                  <div gp-slider ng-model='$root.settings.pedigree.horizPadding' min='0' max='200'></div>
               </li>
               <li class="config">
                  <span>Vertical spacing</span>
                  <div gp-slider ng-model='$root.settings.pedigree.vertPadding' min='0' max='60'></div>
               </li>
            </ul>
            <button class='btn btn-default' ng-click='$root.resetSettings("pedigree")'>Reset</button>
         </div> <!-- panel-body -->
      </div> <!-- panel -->
   </div>  <!-- col -->


</div>
