<div class='row'>

   <!-- Sidebar -->
   <div class='col-md-2'>
      <div class='panel panel-default'>
         <div class='panel-heading'>List of persons</div>
         <div class='panel-body'>
            <ul class='nav nav-pills nav-stacked'>
               <li class='config'>
                  <span>Rows per page</span>
                  <select ng-model='$root.settings.personas.rows' ng-options='a.rows as a.label for a in rows'>
                  </select>
               </li>
               <li class='config'>
                  <span>Colors</span>
                  <select ng-model='$root.settings.personas.colorScheme'>
                     <option value='0'>Rules</option>
                     <option value='4'>No colors</option>
                  </select>
                  <span ng-show='$root.settings.personas.colorScheme==0' gp-legend></span>
               </li>
            </ul>
         </div> <!-- panel-body -->
      </div> <!-- panel -->
   </div> <!-- col -->

   <div class='col-md-10 AApersona AAlist'>
      <table class='table'>
         <thead>
            <tr class='controls'>
               <th colspan='5' gp-paginate-header></th>
            </tr>
            <tr>
               <th>Surname</th>
               <th>Given name</th>
               <th>Birth</th>
               <th>Death</th>
               <th>Marriage</th>
               <!--<th>Last changed</th>-->
            </tr>
         </thead>
         <tbody>
            <tr ng-if='data===undefined'>
               <td colspan='5'>Loading...</td>
            </tr>
            <tr ng-repeat='p in filteredData | paginate: page : $root.settings.personas.rows'>
               <td><span persona-link='p.id'>{{p.surname || '-'}}</span></td>
               <td ng-if='$root.settings.personas.colorScheme!=4'><span style='{{p.styles}}'>{{p.given_name || '-'}}</span></td>
               <td ng-if='$root.settings.personas.colorScheme==4'><span>{{p.given_name || '-'}}</span></td>
               <td>{{p.birth.date||''}}</td>
               <td>{{p.death.date||''}}</td>
               <td>{{p.marriage.date||''}}</td>
               <!--<td>{{p.last_change}}</td>-->
            </tr>
         </tbody>
      </table>
      <div gp-paginate-pages></div>
   </div>
</div>
