<div class='row'>

   <div class='col-md-10 col-lg-9'>
      <div class='panel panel-default'>
         <div class='panel-heading'>
            List of places <span gp-paginate-header></span>
         </div>
         <div class='panel-body'>
            <table class='table'>
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Id</th>
                     <th>Details</th>
                  </tr>
               </thead>
               <tbody>
                 <tr ng-repeat='p in filteredData | paginate: page : $root.settings.places.rows'>
                    <td>{{p.name}}</td>
                    <td>{{p.id}}</td>
                    <td>
                       <!--{% for pa in p.parts.all %}
                       <span class="char">{{pa.type.name}}</span>: {{pa.name}}<br>
                       {% endfor %}
              
                       {% if p.parent_place %}
                       <span class="char">Parent place</span>: {{p.parent_place.name}}<br>
                       {% endif %}
                       -->
                    </td>
                 </tr>
               </tbody>
            </table>
         </div>
         <div class='panel-footer'>
            <div gp-paginate-pages></div>
         </div>
      </div>
   </div>

   <!-- Sidebar -->
   <div class='col-md-2 col-lg-3 sidebar'>
      <div class='panel panel-default'>
         <div class='panel-heading'>Settings</div>
         <div class='panel-body'>
            <ul class='nav nav-pills nav-stacked'>
               <li class='config'>
                  <span>Rows per page</span>
                  <select ng-model='$root.settings.places.rows' ng-options='a.rows as a.label for a in rows'>
                  </select>
               </li>
            </ul>
         </div>
      </div>
   </div>

</div>

