<div class='row'>

   <!-- Sidebar -->
   <div class='col-md-2'>
      <div class='panel panel-default'>
         <div class='panel-heading'>List of places</div>
         <div class='panel-body'>
            <ul class='nav nav-pills nav-stacked'>
               <li class='config'>
                  <span>Rows per page</span>
                  <select ng-model='$root.settings.places.rows' ng-options='a.rows as a.label for a in rows'>
                  </select>
               </li>
            </ul>
         </div>
      </div>
   </div>

   <div class='col-md-10 AAplace AAlist'>
      <table class='table'>
         <thead>
            <tr class='controls'>
               <th colspan='3' gp-paginate-header></th>
            </tr>
            <tr>
               <th>Name</th>
               <th>Id</th>
               <th>Details</th>
            </tr>
         </thead>
         <tbody>
           <tr ng-repeat='p in filteredData | paginate: page : $root.settings.places.rows'>
              <td>{{p.name}}</td>
              <td>{{p.id}}</td>
              <td>
                 <!--{% for pa in p.parts.all %}
                 <span class="char">{{pa.type.name}}</span>: {{pa.name}}<br>
                 {% endfor %}
        
                 {% if p.parent_place %}
                 <span class="char">Parent place</span>: {{p.parent_place.name}}<br>
                 {% endif %}
                 -->
              </td>
           </tr>
         </tbody>
      </table>
      <div gp-paginate-pages></div>
   </div>
</div>

