{% extends "geneaprove/base.html" %}
{% block title %}GeneaProve: Quilts {{decujus}} {% endblock %}

{% block script %}
$(document).ready(function() {
  initQuilts({{persons|safe}}, {{families|safe}});
});
{% endblock script %}

{% block leftside %}
<h2 class="settings">Settings</h2>
<div id="settings">
   <div class="config"><span>Collapsed</span>
      <input type="checkbox" title="Show selected persons only"
      onchange="canvas.filterSelected(this.checked)"/>
   </div>
   <div class="config"><span>Whole database</span>
      <input type="checkbox" name="wholeDatabase"
         {% if not decujus_tree %}
            checked
         {% endif %}
      >
   </div>
</div>
{% endblock leftside %}

{% block contents %}
<canvas id="quilts" class="graph" style="width:100%;height:100%"></canvas>
{% endblock contents %}
