<div id='sidebar'>
   <div class='panel'>
      <h2>Radial</h2>
      <div class="config"><span>Ancestors</span>
         <div gp-slider ng-model='$root.settings.radial.gens' min='-30' max='30'></div>
      </div>
   </div>
   <div class='panel'>
      <h2>Display</h2>
      <div class='config'><span>Colors</span>
         <select ng-model='$root.settings.radial.colorScheme'>
            <option value="0">Rules</option>
            <option value="1">Pedigree</option>
            <option value="2">Generation</option>
            <option value="3">Invisible</option>
            <option value="4">Plain</option>
            <option value="5">Quartile</option>
         </select>
         <span ng-show='$root.settings.radial.colorScheme==0' gp-legend></span>
      </div>
      <div class='config'><span>Show text</span>
         <input type='checkbox' ng-model='$root.settings.radial.showText'/>
      </div>
   </div>
</div>

<div id="contents" ui-view>
   <div class='graph' gp-radial='decujus'></div>
   <div id='contextMenu' class='contextMenu'>
      <ul>
         <li><a ng-click='focusPerson()'>Set as decujus</a></li>
         <li><a ng-click='showPerson()'>Show details</a></li>
      </ul>
   </div>
</div>
