<div class='row'>

   <div class='col-md-10 col-lg-9'>
      <div class='panel panel-default'>
         <div class='panel-heading'>
            List of sources <span gp-paginate-header></span>
         </div>
         <div class='panel-body'>
            <table class='table'>
               <thead>
                  <tr>
                     <th>Short citation</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-if='data===undefined'>
                    <td colspan='2'>Loading...</td>
                  </tr>
                  <tr ng-repeat='p in filteredData | paginate: page : $root.settings.sources.rows'>
                     <td>
                        <span ng-bind-html='p.abbrev||p.title'></span>
                        <span source-link='p.id' source-title='p.title'></span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class='panel-footer'>
            <div gp-paginate-pages></div>
         </div>
      </div>
   </div>

   <!-- Sidebar -->
   <div class='col-md-2 col-lg-3 sidebar'>
      <div class='panel panel-default'>
         <div class='panel-heading'>Settings</div>
         <div class='panel-body'>
            <ul class='nav nav-pills nav-stacked'>
               <li class='config'>
                  <span>Rows per page</span>
                  <select ng-model='$root.settings.sources.rows' ng-options='a.rows as a.label for a in rows'>
                  </select>
               </li>
            </ul>
         </div>
      </div>
   </div>

</div>

