<div class='row'>
   <div class='col-md-12'>
      <div class='panel panel-default'>
         <div class='panel-heading editable-title' ng-click='showCitation=!showCitation'>
            <span class='fa fa-pencil editable-title' ng-bind-html='source.title'></span>
         </div>
         <div class='panel-body' ng-if='showCitation'>
            <div gp-source-citation='source'></div>
         </div>
      </div>
   </div>

   <!-- The media for the source -->
   <div class='col-md-12'>
      <div gp-source-media='source' repr='repr'></div>
   </div>

   <!-- The assertions for the source -->
   <div class='col-md-12'>
      <div gp-source-asserts='source' asserts='asserts'></div>
   </div>
</div>
