<div class='row'>

   <!-- Sidebar -->
   <div class='col-md-2'>
      <div class='panel panel-default'>
         <div class='panel-heading'>List of sources</div>
         <div class='panel-body'>
            <ul class='nav nav-pills nav-stacked'>
               <li class='config'>
                  <span>Rows per page</span>
                  <select ng-model='$root.settings.sources.rows' ng-options='a.rows as a.label for a in rows'>
                  </select>
               </li>
            </ul>
         </div>
      </div>
   </div>

   <div class='col-md-10'>
      <table class='table'>
         <thead>
            <tr class='controls'>
               <th colspan='2' gp-paginate-header></th>
            </tr>
            <tr>
               <th>Id</th>
               <th>Short citation</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-if='data===undefined'>
              <td colspan='2'>Loading...</td>
            </tr>
            <tr ng-repeat='p in filteredData | paginate: page : $root.settings.sources.rows'>
               <td><a source-link='p.id'></a></td>
               <td><span ng-bind-html='p.abbrev||p.title' title='{{p.title}}'></span></td>
            </tr>
         </tbody>
      </table>
      <div gp-paginate-pages></div>
   </div>
</div>

