<div class='panel panel-default'>
   <div class='panel-heading'>Assertions ({{asserts.length}})</div>
   <div class='panel-body'>
      <div ng-repeat='a in asserts' ng-class='{disproved: a.disproved}'
            class='clearfix' style='margin-bottom: 20px'>

         <span class='researchedBy'>
            researched by {{a.researcher.name}} ({{a.last_change|date}})
         </span>
         <span gp-surety='a.surety' style='float:right'></span>

         <span gp-assert-person='a.person1' ng-if='a.person1'></span>
         <br>
         <span gp-assert-person='a.person2' ng-if='a.person2'></span>
         <span gp-assert-event='a.event2' role='a.role' ng-if='a.event2'></span>
         <span gp-assert-characteristic='a.char2' parts='a.char_parts2' ng-if='a.char2'></span>
         <span gp-assert-group='a.group2' ng-if='a.group2'></span>

         <br>
         {{a.rationale}}
        </div>
      </div>
   </div>
</div>
